[2016-06-23 14:32] ptomasroos opened #2 "Android's keystore"
Hey!

Opening a issue to track the progress of Android's keystore instead.
We're saving a token to storage and it would be great if it was possible to use the keystore instead of shared pref's.

Any idea when you might have time to look at this?

[2016-06-30 01:19] samin commented on #2
Sorry @ptomasroos no ETA. If you have a PR we can have a look at it.

[2016-08-15 03:54] audionerd opened #3 "Only the last set item can be retrieved"
With this test:

[code]

Only the last set item is available via `getItem` or `getAllItems`.

[code]

Tested in `react-native-sensitive-info` `3.0.1`

[2016-08-26 10:49] sirnacnud opened #4 "Options aren't optional"
When calling `getAllItems()` on Android with no parameters supplied, it will error out with:

[code]

If I pass in an empty object it will throw the exception error:

[code]

I am basically forced to specify an object with a `sharedPreferencesName` property. This applies to all the methods on Android that take an options parameter.

[2016-10-06 17:43] codehob opened #6 "duplicate symbol _messageForError"
duplicate symbol _messageForError in:
    /Users/iphonedeploy/Library/Developer/Xcode/DerivedData/punchinout-dbqwmosndkfyrhcrkbcebsnepfyv/Build/Products/Debug-iphonesimulator/libRNKeychain.a(RNKeychainManager.o)
    /Users/iphonedeploy/Library/Developer/Xcode/DerivedData/punchinout-dbqwmosndkfyrhcrkbcebsnepfyv/Build/Products/Debug-iphonesimulator/libRNSensitiveInfo.a(RNSensitiveInfo.o)
duplicate s

[2016-10-09 14:16] #3 closed

[2016-10-18 22:51] randycoulman opened #8 "getAllItems() return value inconsistent on different platforms"
Thanks for this library!  It's been super-helpful for us.

We noticed that the `getAllItems()` function resolves the promise with different data types on iOS vs Android.

On iOS, we get back an array that contains another array.  The inner array has objects with the keys `service`, `key`, and `value`:

[code]

On Android, we get back an object that just has keys and values:

[code]

This inconsist

[2017-01-09 23:22] randycoulman opened #9 "Update for breaking change in RN 0.40.0"
React Native 0.40.0 changed the location of header files on iOS, which is likely a breaking change for this project.

Unfortunately, my project is not yet in a place where I can easily verify that it is in fact a breaking change, but I wanted to get this issue on your radar.

See https://github.com/facebook/react-native/releases/tag/v0.40.0 for details.

[2017-02-09 19:52] mCodex commented on #9
@randycoulman i'm proud to say that is not a problem anymore 😃  I've just updated RNSensitiveInfo to 4.0 and its fully compatible with RN0.40+. Thank you @hilkeheremans!

[2017-02-09 19:52] #9 closed

[2017-02-10 07:15] hilkeheremans commented on #9
You're welcome! BTW, I didn't realize at the time of the PR, but it is possible to define your imports to be compatible with both `< RN 0.40` and `> 0.40` in the same version -- in that case it wouldnt require a semver major.

See also https://medium.com/@thisismissem/how-to-upgrade-react-native-modules-in-a-backwards-compatible-manner-a5b5c48d590c#.y41xx73x8

[2017-02-15 13:28] BogdanHossu commented on #4
Same on iOS, the options are not optional. Maybe, for the beginning update the readme file.

[2017-02-27 17:00] debris opened #12 "npm version 4.0 is not pushed to github"

[2017-02-27 17:00] debris opened #13 "example project does not compile"

[2017-03-01 13:20] mCodex commented on #12
Hello @debris, thank you. I pushed 4.0.0 right now :)

[2017-03-01 13:20] #12 closed

[2017-03-01 13:22] mCodex commented on #13
Thank you for noticing. With some changes on react-native structure I should update the example project, but right now I'm afraid that I wont have time for this. However, PR are welcome :)

[2017-03-15 18:42] paulief commented on #8
I just want to add to this that `getItem(key)` returns `null` on Android and `undefined` on iOS when no value exists at that key. Pretty minor issue, but just wanted to give a heads up to anyone looking at this.

[2017-03-27 08:37] misha-plus opened #15 "Options out range exception when `sharedPreferencesName` is not defined."
Hello.
I run `setItem('username', 'the username', {})` and see exception 'couldn't find key sharedPreferencesName in dynamic object'. On latest RN.

------
Notes:

SInfo uses RN ReadableMap (https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/jni/xreact/jni/ReadableNativeMap.cpp) which users folly/dynamic.

In folly/dynamic (https://github.com/facebook/folly/blob/master/foll

[2017-04-25 10:04] npomfret opened #16 "question"
I know that the iOS keychain is stored in iCloud (if the user has turned that feature on), but is the same true of android user preferences?

[2017-04-26 09:17] npomfret opened #17 "options is optional?"
Hi.

Thanks for this project.  I'm just getting.  After reading _"Options" is a new parameter (optional)_ I tried calling `SInfo.deleteItem(_USER_ID_KEY)` but it failed with `RNSensitiveInfo. was called with 1 arguments but expects 2 arguments`.  Is the `options` parameter non-optional really?

[2017-04-26 09:44] npomfret opened #18 "android crash if sharedPreferencesName not supplied"
I'll submit a PR shortly.

[code]

[2017-04-27 08:07] porknoodles opened #19 "Print: Entry, ":CFBundleIdentifier", Does Not Exist"
react-native-cli: 2.0.1
react-native: 0.36.1
npm version : 4.2.0
node version : 7.9.0
react-native-sensitive-info: "^4.0.0"

[code]
[code]
Please help, I've been stuck in this error for quite sometime, i thought it was about CFBundleIdentifier itself, but then i saw RNSensitiveInfo in the error. So i thought i come here to get some answer...

[2017-04-28 13:18] npomfret commented on #18
What state is this project in, is it still being maintained?  I tried to submit a PR but then noticed that there have been a bunch of unreleased commits since the npm version (4.0.0). My fix doesn't really apply to master.

[2017-05-11 16:01] ricardofavero commented on #8
Thank you for letting us know. We are pretty busy with other projects right now, but pull requests are always welcome!

[2017-05-11 16:24] ricardofavero commented on #18
Thank you for working on this issue. The problem with the unreleased commits was solved. Right now we are busy with other projects, but you're welcome to open a pull request.

[2017-05-11 17:28] cthayer commented on #17
I'm getting the same error (when not passing the `options` parameter)

[2017-05-12 15:55] npomfret commented on #18
@ricardofavero here you go https://github.com/classapp/react-native-sensitive-info/pull/22

I was a bit confused by the `initKeyStore` stuff that's appeared in there.  It doesn't seem to be used, but also broke my build - i couldn't even compile.  I've backed out a build file change that was causing the problem as a part of this PR, but there seems to be quite a bit of stuff in there still that is

[2017-05-15 17:27] #2 closed

[2017-05-15 17:27] #4 closed

[2017-05-16 11:08] npomfret opened #23 "encrypt: true"
I noticed the addition of an option: `encrypt: true`.  Looking at the android code it seems that this option is ignored completely, and all values are encrypted.  Is that correct?  If so it makes data stored with the previous version unreadable as it's assumed to be encrypted when it isn't.  I don't require encryption, no one except my app (a root user) can read this data which is secure enough fo

[2017-05-16 11:23] npomfret opened #24 "encryption breaks compile"
The new android encryption stuff requires version 18 of the android API.  This isn't the default for react native project and renders this library unusable for those projects aim at 16.

There's an encryption implementation [here](http://stackoverflow.com/questions/785973/what-is-the-most-appropriate-way-to-store-user-settings-in-android-application/6393502#6393502) that's compatible with 16.

[2017-05-16 14:07] mCodex commented on #24
Thank you npomfret again, I reverted my last commit https://github.com/classapp/react-native-sensitive-info/commit/6e3c0248aeed7ca5c26a2e3c0ff2f706fe73bea6

[2017-05-16 14:08] npomfret commented on #24
Thanks. I think we need a new npm release

[2017-05-16 14:11] mCodex commented on #24
Yeah, doing it right now.

[2017-05-16 14:12] mCodex commented on #24
About keystore, I think we should keep it in a different branch and if someone wants/needs to use they can get it there 🤔

[2017-05-16 14:13] #17 closed

[2017-05-16 14:13] #18 closed

[2017-05-16 14:13] #23 closed

[2017-05-16 14:13] #13 closed

[2017-05-16 14:13] #15 closed

[2017-05-16 14:15] npomfret commented on #24
Sure. Or we implement a backward compatible version? One that works with a default RN build. And keeping a non-encrypted option so it's backward compatible would be good.

[2017-05-16 14:18] mCodex commented on #24
Yeah, we can implement this one http://stackoverflow.com/questions/785973/what-is-the-most-appropriate-way-to-store-user-settings-in-android-application/6393502#6393502 which seems by far the best one.

[2017-05-16 14:20] mCodex commented on #24
Yeah, we can implement that one you told before.

And here we go 5.0.1: https://www.npmjs.com/package/react-native-sensitive-info 🎉

[2017-05-16 14:21] #16 closed

[2017-05-16 16:07] #24 closed

[2017-05-16 16:27] #19 closed

[2017-05-24 18:24] globetro opened #27 "Return a promise from setItem?"
As I understand it, `setItem` is actually asynchronous. Is it possible to update `setItem` to return a promise that's resolved when `setItem` has completed? I'm running into an issue on iOS where I get a `Could not locate shadow view with tag` error if I try to call `setState` immediately after calling `setItem`. It's fixed if I add an artificial delay of a few hundred milliseconds. According to t

[2017-05-25 11:59] mCodex commented on #27
Hello @globetro, we actually has already received an pull request #26 with your suggestion, but unfortunately I didn't have time to take a look yet.

If you feel comfortable you can use our library using the pull request above.

Also, I'll try to release an update today with the mentioned pull request.

[2017-05-25 20:54] mCodex commented on #27
Hi @globetro , how are you?

I'd like to thank you for your patience and tell you that I've just launched a new version (5.1.0) of our library with promise support on setItem. Please, feel free to update it to latest version 😄

[2017-05-26 10:52] #27 closed

[2017-06-02 11:46] AlanFoster opened #28 "Using Conceal for encryption implementation"
Thanks for the great library!

Out of interest, [react-native-keychain](https://github.com/oblador/react-native-keychain) currently makes use of Facebook's [conceal](https://github.com/facebook/conceal) - would there be any advantage for react-native-sensitive-info to also make use of this library?

[2017-06-02 11:48] AlanFoster commented on #8
@randycoulman I assume the iOS API should align with android's API in this case?

[2017-06-02 13:19] randycoulman commented on #8
I'd probably go the other way and make them both like the iOS API.  That way, we'd be adding information to the Android API rather than removing information from the iOS API.  Either way, it's going to be a breaking change somewhere.

[2017-06-02 13:36] mCodex commented on #28
Hello @AlanFoster, thank you!! I didn't know about Facebook's conceal.

We can use Facebook's conceal as well, but we've to see if is compatible with Android 16+... Maybe It is, because Facebook must use this. Also, we are looking for better privacy/encryption ways on our library.

On the other hand, It would be a breaking change for react-native-sensitive-info, but I believe there is a way to imp

[2017-06-06 10:44] Sunitadaffodil opened #29 "Stored value in Keychain is undefined"
Hello..

Thanks for this great library.
I am using this library in one of my react-native project, but whenever I am trying to get value stored in keychain , is returning undefined in iOS.

Here is what is my use case
1-We have an existing "Native iOS App", which is already present in AppStore to download.
2-Now my client is redeveloping the same app in React-Native, and want to provide this new a

[2017-06-06 19:45] mCodex commented on #29
Hello @Sunitadaffodil, well I developed react-native-sensitive-info because I had to do exactly what you described here, but in my case the app that I was migrating from native iOS to RN was using the default keychain service (which is: app) to store user's data.

Probably, you can check if your user's credentials are being stored using the default keychain service or another one and then try to g

[2017-06-07 04:44] Sunitadaffodil commented on #29
Thanks @mCodex for quick reply.

In iOS native project , its using PDKeychainBindingController library. This library helps in saving data to keychain.

But I am not sure whether its using default keychain to store data, because someone else worked on that project. But your point is valid , may be this library storing data in some other way.

To resolve this issue, I have to write down the native m

[2017-06-15 00:24] evollu opened #30 "icloud shared keychain"
if the items stored in this keychain shared in icloud?

[2017-06-29 20:46] mCodex commented on #30
Hello @evollu , sorry for the delay, but I haven't tested it yet. When I built react-native-sensitive-info I didn't know much about iOS architecture and for the project that I've used it, it was not necessary.

[2017-06-29 21:20] evollu commented on #30
It wasn't necessary for me as well. Just to make sure that users won't get surprise when they install the app on another device. I think it is not shared though.

[2017-06-29 21:33] zibs commented on #6
I'm also getting this - is there a way to resolve? Why was this closed exactly?

[2017-06-30 10:53] mCodex commented on #30
I see, it could be an enhancement. 😄

[2017-06-30 11:00] mCodex commented on #6
Hello @zibs , I couldn't reproduce that. Could you provide an example?

[2017-06-30 11:29] mCodex commented on #29
Hello @Sunitadaffodil, I'm so sorry for the delay. Your approach is a good one, I was searching about PDKeychainBindingController on the web, but I couldn't find anything to help you and I've never used it before. If you feel free, It is possible to fork RNSenstiveInfo and adapt it to your necessities. :)

[2017-07-07 20:40] denissb opened #31 "Using the Keystore on Android 4.3+"
I am proposing a feature request :)

Since Android 4.3 the [Android Keystore](https://developer.android.com/training/articles/keystore.html) was introduced. Do you have any plans on switching to that for Android (or making it an option), since it's more secure for storing sensitive data like tokens and passwords?

[2017-07-09 13:22] mCodex commented on #31
Hello @denissb, we have already this feature, but it is in another branch: https://github.com/mCodex/react-native-sensitive-info/tree/keystore

Unfortunately, we don't have any plans to release it in our master because react-native supports Android 16+ and using Android Keystore requires RNSensitiveInfo using Android 18+ 😢 So, we wouldn't cover all devices supported by react-native.

[2017-07-09 14:16] denissb commented on #31
Thank's for the information, using shared preferences should still be secure enough unless the application has root access. I will check the branch if I will desperately need this feature.

[2017-07-10 06:11] iamai74 opened #32 "add support kSecAttrAccessible"
Please, add support kSecAttrAccessible in setItem (iOS). By default the value of the attribute is kSecAttrAccessibleWhenUnlocked. But sometimes it is required to use other value, for example in TodayExtension need to use value kSecAttrAccessibleAlways

[2017-07-10 07:55] denissb commented on #31
@mCodex - sorry for coming back to this, but why don't you apply it conditionally only if the Android version is 18+?

[2017-07-17 14:55] ognjetina opened #34 "Examples"
Could you review examples it seems like that they take 94.5MB

[2017-07-17 23:17] zibs commented on #6
@mCodex Sorry it took me so long to get back to you:
https://github.com/zibs/keychain-and-info-example

You should be able to just clone + `yarn` + run this on your iPhone and you will see the error. It will work on the simulator, and it works on the Android device as well. But it does not work on an actual iPhone.

Thanks!

[2017-07-22 14:53] mCodex commented on #34
Hello @ognjetina, thank you! I'll see it for u =)

[2017-07-22 14:54] mCodex commented on #32
Hello @iamai74, thank you! I'll see what I can do. If you want, you can submit a pull request =)

[2017-07-22 14:54] mCodex commented on #6
@zibs thank you!

[2017-07-22 14:59] mCodex commented on #31
@denissb, I can try, but when I import Android Keystore methods I've to upgrade RNSensitiveInfo to Android 18+ 😞

[2017-07-23 20:59] denissb commented on #31
I see, so react native detects usage of that Keystore package in Java and dose not allow to keep the same minimum version? (16+)

[2017-07-24 13:04] mCodex commented on #31
Not React, but Android itself :/

[2017-07-27 13:31] evollu commented on #32
I'm working on it

[2017-08-04 14:43] j3rin opened #40 "Is it safe to store JWT-Token?"
Can I store JWT Tokens? is this safe to do ?

[2017-08-04 16:30] mCodex commented on #40
@j3rin , you can say so. Android devices has more problems than iOS, because shared preferences doesn't store securely, also if Android is rooted values can be easily retrieved. On the other hand, if you want to store your tokens using [Android keystore](https://developer.android.com/training/articles/keystore.html?hl=pt-br) and you don't mind to update your gradle files to support only Android SD

[2017-08-04 16:32] #29 closed

[2017-08-04 16:32] #31 closed

[2017-08-04 16:48] j3rin commented on #40
I'm building IOS app, It's better than using AsyncStorage?

[2017-08-04 17:04] mCodex commented on #40
Yes, as you can see in [AsyncStorage's description](https://facebook.github.io/react-native/docs/asyncstorage.html):

`"AsyncStorage is a simple, unencrypted, asynchronous, persistent, key-value storage system that is global to the app."
`

[2017-08-04 17:07] evollu commented on #40
Just an bit more info, if you want to protect info from jailbroken device, keystore itself won't help. Hackers can extract keys from keystone and decrypt values

[2017-08-04 17:27] j3rin commented on #40
so all the data is stored in keychain for IOS devices? sorry for all the questions, thank you guys!

[2017-08-04 17:34] evollu commented on #40
Yes

[2017-08-18 15:51] j3rin opened #42 "is react-native-senstive-info Asynchronous or Synchronous?"
constructor(){
      super();
      this.state = {loggedIn: false};
      SInfo.getItem('token', {
      keychainService: 'myKeychain'}).then(value => {
        if(value){
          fetch('api/ping',{
                method: 'GET',
                headers: {'Authorization': value}
          })
          .then((responseJson) => {
            if(responseJson.status == 200){
                this.setS

[2017-08-21 13:42] ugiacoman commented on #42
It is async, you can use async/await

[2017-09-11 02:04] mealbarracin10 opened #44 "Error when install module no compatible with RNGoogleSignin"
i try integrate this module, when install it,  modified this file project.pbxproj,  and produced error i dont open this app by  xcode, not parse this project

this installation write this
HEADER_SEARCH_PATHS = "$(SRCROOT)/../node_modules/react-native-google-signin/ios/RNGoogleSignin/**""$(SRCROOT)/../node_modules/react-native-sensitive-info/ios/RNSensitiveInfo/**";

in this case produced error but

[2017-09-18 14:55] AunMSheikh opened #45 "IOS does not clear Keychain once the app uninstalls"
I noticed an issue when uninstalling the application the data does not get deleted, is there any way to remove data when the app uninstalls?

[2017-09-26 17:55] evollu commented on #45
that seems to be expected behavior as keychain. check ios keychain question on stackoverflow ?

[2017-09-26 17:55] evollu commented on #44
sounds like a link issue rather than this repo

[2017-09-26 17:56] evollu opened #46 "IPHONEOS_DEPLOYMENT_TARGET = 9.1?"
@mCodex is there a particular reason why the target is not 8.0 as react native?

[2017-09-26 18:20] mCodex opened #47 "Needed: Official iOS maintainer"
Hello guys! It's been a long road since I've built this library just to solve a problem of mine. Opening it to the community was the best part of doing it, because I could see many programmers doing a great job and working side-by-side for an purpose.

In the last months RNSInfo received a lot of PRs and it is awesome for the community, but unfortunately I didnt launch a new release, because I don

[2017-09-26 18:21] mCodex commented on #46
@evollu there isn't.

[2017-09-26 18:22] #40 closed

[2017-09-26 18:23] mCodex commented on #42
I hope your doubt was solved, if u need any kind of help just reopen this issue or create a new one 😄

[2017-09-26 18:23] #42 closed

[2017-09-26 18:26] mCodex commented on #45
@AunMSheikh Unfortunately, it doesn't remove, but could be a future feature in RNSInfo.

[2017-09-26 18:29] #46 closed

[2017-09-26 18:32] mCodex commented on #44
@mealbarracin10 it is a strange error 🤔

We can try to reproduce that generating a new project and installing both libraries

[2017-09-28 11:21] Morriz opened #50 "does not work with CRNA / Expo"
Hi, any idea why I can't seem to import your module with a fresh CRNA install?

[code]
console output:
`SInfo:  undefined`

I use:
[code]

[2017-09-28 11:42] vspedr commented on #50
Hi @Morriz! Did you get this behavior on Android or iOS? Usually when a module with native code returns undefined it's because it was not linked properly with the native projects, you can try running `react-native link react-native-sensitive-info` again or linking it manually. I'm not very familiar with expo though, not sure how it handles external native dependencies.

[2017-09-28 11:57] Morriz commented on #50
I did that already, but to no avail. It would be awesome if your module would work with CRNA out of the box, but you probably have to do some tweaking. I would reach out to the CRNA ppl if I were you.

[2017-09-28 11:58] Morriz commented on #50
I always test on physical device btw

[2017-09-28 12:10] vspedr commented on #50
Yes, that would be nice given the popularity of CRNA. I will look into it this weekend, maybe @mCodex can give it a try too

[2017-10-03 18:23] antondomratchev opened #51 "Add Windows to npm release"
Pulled down latest version 5.1.0 from NPM, and the entire windows directory is missing.
Any idea if RN Windows support is working?
When can we expect a release with Windows code in NPM?

[2017-10-04 12:19] mCodex commented on #50
@Morriz thank you for letting us know about this problem. I'll take a look :)

[2017-10-05 09:10] Morriz commented on #50
:)

[2017-10-05 20:32] Palisand commented on #50
@mCodex @Morriz **You cannot use any modules that require linking (i.e. native modules) with expo.** You must either detach to ExpoKit or eject completely. See [this](https://docs.expo.io/versions/latest/guides/detach.html#you-might-want-to-detach-if).

Please note that Expo SDK 21 already has a [SecureStore](https://docs.expo.io/versions/latest/sdk/securestore.html).

[2017-10-05 20:59] Palisand commented on #31
@mCodex [react-native-keychain](https://github.com/oblador/react-native-keychain#new-200-rc-with-improved-android-implementation) uses Facebook Conceal for 16 - 22 and keystore for 23+.

[2017-10-05 21:19] vspedr commented on #50
Thanks for clarifying @Palisand!

[2017-10-06 10:25] Morriz commented on #50
Yes, tnx! That new SecureStore is exactly what I need :)

[2017-10-10 00:06] DavidPotter commented on #6
My team is running into this as well.  It appears that this is fixed in the repo but a new version has not been published.  When will you be publishing a new version with all the changes from the past 4+ months?

[2017-10-10 00:07] DavidPotter commented on #6
Hmm, I may have posted my comment on the wrong issue.  I'm getting a different warning.  I'll open a new issue for that.  Sorry.

[2017-10-10 00:10] DavidPotter opened #52 "Incompatible pointer types"
I'm getting two warnings when building from within Xcode 8.3.3.

* Incompatible pointer types passing 'NSArray *' to parameter of type 'NSError *'
* Incompatible pointer types sending 'const CFStringRef _Nonnull' (aka 'const struct __CFString *const') to parameter of type 'id<NSCopying> _Nonnull'

It appears that these are actually fixed in the repo but because we're using `yarn add react-native-s

[2017-10-10 11:36] mCodex commented on #52
Hello @DavidPotter , I've just released an beta version of RNSensitiveInfo. 😄

[code]

[2017-10-10 11:38] mCodex commented on #51
Hello @antondomratchev , sorry for delaying the answer, but you can test it by installing a beta version of RNSensitiveInfo. I've just released it 😄

[code]

[2017-10-10 11:40] mCodex commented on #50
Thanks @Palisand 👍 I'll close this issue for now since @Morriz found the solution 👍

[2017-10-10 11:40] #50 closed

[2017-10-10 14:41] antondomratchev commented on #51
@mCodex Thanks! I 've been using the master branch in the project and so far its working great!

I noticed that in Windows `getAllItems()` will throw an exception if no credentials are found for the given SharedPreference/KeychainService. Not sure if the behavior is the same for both iOS and Android.

Thank you for the updated release!

[2017-10-10 14:42] #51 closed

[2017-10-10 16:49] DavidPotter commented on #52
Great!  Thanks @mCodex.  That fixed one of the warnings.  I guess I didn't do my homework as there is still one warning left.  It is at line 215, which looks like this:
[code]
The warning is:

[2017-10-10 20:31] mCodex commented on #52
Hi @DavidPotter, thanks for your feedback! It's stranger 🤔 I have to take a look at it, because I have no idea what is happening.

[2017-10-10 20:32] mCodex commented on #51
@antondomratchev thank you for your feedback! I'm glad you're using a beta version now. The most important thing is to know Windows Phone is working like a charm! 😃

[2017-10-24 17:57] umer98 opened #55 "No Touch ID prompt"
I am not getting a touch ID prompt to scan my finger on iOS when retrieving a value stored using the `touchID: true` option. Any idea why that may be occurring? I am seeing the same behavior on the example app as well.

[2017-10-25 02:34] umer98 commented on #55
This only occurs when running the app on the iOS simulator. Closing.

[2017-10-25 02:34] #55 closed

[2017-10-26 20:39] YPCrumble commented on #8
Thanks for building this library! Experiencing the same issue. If we're fixing the return values, shouldn't the iOS return value be one array rather than a nested array, i.e., return:

[code]

rather than

[code]

[2017-10-26 22:52] randycoulman commented on #8
@YPCrumble Yes, I agree with you.  I forgot about the nested array in my earlier response.

So, my (non-authoritative) opinion is that we should return an array of objects, where the objects have the `service`, `key`, and `value` keys in it.

[2017-10-28 12:09] mCodex commented on #8
Hello guys, sorry for delaying the answer once again. I'll take a look in android in this week. About iOS, I'm afraid I wouldn't because I don't have macOS available.

[2017-10-28 12:11] mCodex commented on #6
Hello Guys, is this still happening in v5.2.0 (currently beta)?

[2017-10-28 12:11] #47 closed

[2017-10-28 13:43] iamai74 commented on #32
@mCodex, oh's good pr from @umer98. I think it will works for me/

[2017-10-30 11:34] vspedr commented on #34
@mCodex we could add a `.npmignore` to the project root, excluding the `/example` folder from the package but keeping it in version control.

[2017-10-30 14:27] Leva7 commented on #8
Moreover, the example in the README is a bit misleading. From looking at it, I expected `values` to be an array, and have been cracking my head over this.
It would be nice to have an example output for each command, as well as return type, etc.

[2017-10-30 15:21] mCodex commented on #34
@vspedr, yeah! It seems a good idea. Tonight i'll do it :+1:

[2017-10-30 19:53] vspedr commented on #34
Check this out, there are a few things to keep in mind with a `.npmignore`
https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

[2017-10-31 13:21] vspedr commented on #34
Hey @ognjetina this should now be fixed in 76b38f1, examples folder will no longer be downloaded from npm.

[2017-11-01 08:16] titkov5 opened #57 "Question about 5.0 and Android KeyStore"
Hi guys, first of all sorry for issue (i just don't know how i can ask you another way). I want to use Android KeyStore but now i see that this changes not in npm repo. So i want to ask about your plans for KeyStore, will you release this feature? Thank you for any answers!

[2017-11-01 22:03] ognjetina commented on #34
yey :D

[2017-11-02 12:24] mCodex commented on #34
@ognjetina, I'll close the issue for now, but if its needed you can reopen it again :D

[2017-11-02 12:24] #34 closed

[2017-11-02 12:25] mCodex commented on #32
@iamai74. Its nice to hear it from you! :D I'll close the issue for now, but if its needed you can reopen it again :D

[2017-11-02 12:25] #32 closed

[2017-11-03 03:09] pongponglau commented on #45
Yes, i have the same issue as AunMSheikh.
But not sure if react native has an uninstall app event. If so, i can remove the keychain value when this event comes.

Thank you

[2017-11-12 23:09] scstan commented on #6
Happens for me also on
"react-native": "0.49.3",
"react-native-sensitive-info": "^5.1.0"

[2017-11-13 19:34] scstan commented on #6
5.2.0 also

[2017-12-11 09:29] Reiji87 opened #58 "How do i verify if redux-store is using secure storage?"
Is there anyway to verify if everything is storing in secure storage and not AsyncStorage?
Thanks

[2017-12-13 19:24] agustinaliagac opened #59 "[Question] Is the "keystore" branch going to be merged ?"
What it the state of the "keystore" branch ? Is it going to be merged at some point ?
Otherwise, are there any plans on supporting Android Keystore in main branch ?

[2017-12-19 15:10] eranbaroz commented on #57
@titkov5 you can fetch a specific branch code with npm:
npm i -S git://github.com/mCodex/react-native-sensitive-info#keystore

[2017-12-19 17:23] GuillotJessica opened #60 "Keychain ANDROID install process on doc"
you say

[code]
It is in MainApplication instead, just saying what the link does...

[2018-01-03 22:55] tallen11 opened #61 "Sharing between apps"
I need to store some oauth tokens with this but need to be able to access them from an iOS share extension. How do I set this up with the share group name I have defined in my entitlements file?
Thanks.

[2018-01-25 00:06] bbhagat opened #63 "deleteItem gives error: Cannot read property 'then' of undefined"
Hi,

I have below code which is called on press of a button.

`onLogoutPressed = () => {
console.log('Logout Pressed');
    SInfo.deleteItem('token', {})
    .then((values) => {
      console.log('deleted')
    });
    console.log('Logout Pressed 2');
}`

It gives me below error always:

It seems to me that deleteItem doesn't return a Promise.

How can I make a call to another function after ensur

[2018-02-07 17:03] michaeljholmes commented on #63
+1

[2018-02-07 17:06] michaeljholmes commented on #63
Simple fix :
Promise.resolve(SInfo.deleteItem(key, options))

[2018-02-07 23:40] ma-pe commented on #59
As I see it, the android keystore is used in the master branch. Take a look at: https://github.com/mCodex/react-native-sensitive-info/blob/master/android/src/main/java/br/com/classapp/RNSensitiveInfo/RNSensitiveInfoModule.java#L196

[2018-02-14 09:16] felixus95 commented on #45
It shouldn't in my opinion. We use it exactly for this use case. Keychain stores data to identify users, who reinstalled the application.

[2018-03-02 07:55] amitbravo opened #64 "Can/Should I store firebase db connection with this ?"
Just wondering if it would be wise to secure firebase connection credentials , api keys with this repo.

[2018-03-02 16:43] crisppY commented on #6
Yes. I'm having build errors in v5.2.0.

[code]

[2018-03-06 12:17] hwaterke commented on #59
Not really.

Correct me if I'm wrong but the master branch only uses the keystore when the android version is at least 6.0 and fingerprint auth is enabled.

This is not the case on the keystore branch which uses the keystore and encrypts data even for Android versions below 6.0

So there's still value in the `keystore` branch (which I would love to see merged)

[2018-03-07 12:01] ma-pe commented on #59
randycoulman did some research about this, so also regard: https://github.com/CodingZeal/redux-persist-sensitive-storage/issues/14#issuecomment-370614156

[2018-03-28 22:52] Rah1x opened #67 "processReleaseResources generates 'no default translation' warning"
while trying to `run-android`, im now getting the following warnings:

[code]

any idea?

[2018-04-03 06:19] Cavitt commented on #57
@eranbaroz out of curiosity why are Shared Preferences the default?

[2018-04-04 21:12] eranbaroz commented on #57
Hi @Cavitt
Well, I'm not the module author and I don't know what exactly is behind setting the shared prefs as default.
I was just answering a question that related to fetching a specific repository version from package.json using npm.

Maybe you should ask again one of the authors.

Cheers

[2018-04-04 21:14] eranbaroz commented on #57
@Cavitt
By the way I was exploring some modules to use the keystore/keychain in react native. This was one of the modules I checked but decided to go with another one in the end.

[2018-04-05 12:26] mCodex commented on #57
Hey guys! @Cavitt when I built this module, I needed to get information stored by native (Java / Object-C) app into the Shared Preferences / Keychain. It was it :)

[2018-04-05 12:34] mCodex commented on #60
Hey @GuillotJessica, thanks! I fixed it.

[2018-04-05 12:49] mCodex commented on #59
Hi guys, It'd be nice to merge keystore branch into master, but It requires:

- Will we remove Shared Preferences support?
- Will RNSInfo possible to install on devices using Android API 16/17? Keystore needs at least API 18 or above.
- Is there a way to do all of that without breaking changes?

Unfortunately, right now I don't have enough time to do it. If someone can help me a PR would be nice 🤗

[2018-04-05 12:51] #60 closed

[2018-04-05 13:43] mgray2010 opened #68 "iOS > Unrecognized Selector on Error"
# The Issue
Context:
We have been experiencing an unrecognized selector error coming from RNSensitiveInfo on only iOS during low memory situations (may be red herring). It appears that in some cases RNSensitiveInfo will fail to retrieve our API key from the keystore. When it is rejecting the promise it throws an `unrecognized selector` error because the types do not match (see below).

The below i

[2018-04-19 10:27] giriprathap opened #71 "Touch ID prompt is not shown when set item in keychain."
Hi

This issue is with the iOS.

My SetItem code is
 SInfo.setItem('hashPassword', hashPassword.toString(), {
    keychainService: 'myKeychain',
    kSecAccessControl: 'kSecAccessControlTouchIDCurrentSet',
    sharedPreferencesName: 'mySharedPrefs',
    touchID: true,
  });

My getItem code is

 SInfo.getItem('hashPassword', {
      sharedPreferencesName: 'mySharedPrefs',
      keychainService: 'm

[2018-04-20 14:02] enricotelesca-ada commented on #6
same here, did anyone solve?

[2018-04-20 16:15] obsidianart opened #72 "Losing Data on IOs"
Hi,
I don't know if that's a common issue or not but I had a few users reporting a total loss of their data on IOs after updating the OS or updating apps.
It might be something in my code but maybe you get similar problems in the past and it is a known issue.
(I have over 10k users on Android and no issue reported so it seems IOs only)

[2018-04-23 11:25] alexmbp commented on #6
Have the same issue. Together with react-native-keychain. I believe - issue is with cocoapods while RNKeychain using pods and RN Sensitive Info does not. We have to add local pod spec to make it working. Not sure about it

[2018-04-24 20:23] igorrfc opened #73 "RNSensitiveInfoModule's getAllItems method returning error (keystore branch)"
## Context

An Android user of a RN app that I work on is receiving the following error:
![error](https://user-images.githubusercontent.com/7783787/39211573-7031f5cc-47e2-11e8-8b14-85dcb3970173.png)

## Cause(?)

I tried to reproduce it just mirroring both app and OS versions, but wasn't lucky. Then I dove at the lib's source code looking for the `getAllItems` trying to understand it. I think that

[2018-04-26 13:29] luisfmsouza commented on #73
Looks like the `getMessage()` was called from a `null`.

What's the chance of the `e.getCause()` inside the statement below resolve to a `null` value?

[code]

If it resolves to a `null`, does anyone know how to handle it to avoid this exception mentioned by @igorrfc?

[2018-04-26 16:59] igorrfc commented on #73
That's true, @luisfmsouza. Good catch.
The `getMessage` method is used when the exception comes from a chain of exceptions, it returns the original/root cause of the error. Looks like there is a validation that isn't well handled and does not return an exception with a cause. Then, when the cause is not defined, the `getCause` returns null.

[2018-04-27 21:40] ycai2 opened #75 "[Android]Key permanently invalidated when a new fingerprint is enrolled"
This is Android only.
When I added a new fingerprint on system setting, the library now permanently fails authentication including calling of `setItem`. The error I received is "Key permanently invalidated". According to Android [doc](https://developer.android.com/training/articles/keystore#ExtractionPrevention):

It looks like in that case, the module will not work anymore, ever maybe? I'm not an

[2018-05-07 05:28] akiradeveloper opened #77 "[Question] About when app is uninstalled"
I want to use this library to save device unique id (like ANDROID_ID). In PlayFab, there is a log-in method that use the unique id and the doc recommends to save it in key chain in case of iOS because the id is changed after app uninstalled. (see best practice section in https://api.playfab.com/docs/tutorials/landing-players/best-login)

As long as I understand, the shared preference is gone after

[2018-05-10 07:08] obsidianart opened #78 "Same sharedPreferencesName between 2 apps on the phone"
I'm trying to debug a problem on IOs only where a user lost all his data. I know there are many moving parts but while going trough the code (I can't replicate the issue) I wondered what happens if another application use the same "sharedPreferencesName" on the same phone.
I assume nothing happens but maybe you get another app info encrypted or something like that.
Do you have any idea? should I t

[2018-05-14 09:58] soumyamishra89 opened #79 "Fingerprint is not properly implemented for Android"
When i access setItem or getItem with touchID = true,
i get get the following error: **The callback getItem() exists in module RNSensitiveInfo, but only one callback may be registered to a function in a native module.**
This happens on some of the phone i test with. But the issue is resolved when I removed the line pm.reject(String.valueOf(errorCode), errString.toString()); from RNSensitiveInfoMod

[2018-05-17 13:27] lucasbento commented on #6
I had the same issue, this indeed conflicts with [react-native-keychain](https://github.com/oblador/react-native-keychain) (thanks @alexmbp).

[2018-05-21 23:18] Rovack commented on #75
This is a pretty significant issue, which it seems would prevent anyone from safely using this library on Android.
No comments on this?

[2018-05-23 14:28] artegen commented on #72
Hi, have this issue too.
Appears only on iphone X (didn't try for iOS 11 on other devices).
The data is lost when app is closed. When app is in background, turning back retrieves data from the storage correctly.

[2018-05-23 23:03] mCodex commented on #77
I'm not an expert on iOS, but I think when your user uninstalls the app, the data from keystore will be destroyed. 🤔

[2018-05-23 23:04] mCodex commented on #75
It sounds like a bug 🤔

[2018-05-23 23:04] mCodex commented on #73
Since the PR is merged. I'll close this issue.

[2018-05-23 23:04] #73 closed

[2018-05-23 23:09] mCodex commented on #72
As far as I can see it might be related to iOS 11 maybe. Unfortunately, I don't have an app to test it right now. :/

[2018-05-23 23:12] #57 closed

[2018-05-23 23:14] mCodex commented on #6
Can anyone make a PR for that? Please :D

[2018-05-23 23:16] mCodex commented on #45
@felixus95 has a great point of view. And I agree with him. Since then, I'll close this issue now. Maybe It can be opened in the near future for more discussions.

[2018-05-23 23:16] #45 closed

[2018-05-23 23:20] mCodex commented on #78
Hey Stefano, unfortunately I have no idea. If you fix it, please share your solution here.

[2018-05-23 23:21] obsidianart commented on #78
Of course I will, unfortunately I don't have an iPhone so even testing this is hard, maybe I should buy one.

[2018-05-23 23:26] mCodex commented on #58
You can use this library for that: https://github.com/CodingZeal/redux-persist-sensitive-storage

[2018-05-23 23:27] #58 closed

[2018-05-25 17:20] ycai2 commented on #75
@mCodex I made a PR with the fix. Please review when you get a chance.

[2018-05-29 03:01] ycai2 commented on #75
#81 was merged to fix this.

[2018-05-29 03:01] #75 closed

[2018-05-29 22:27] DavidPotter commented on #52
I took another look at this today and this is what I learned.  The `reject` function is defined as an instance of type `RCTPromiseRejectBlock` which is defined like this:
[code]
The warning is being displayed because an `NSArray` is being passed where an `NSError` is expected.  I'm puzzled (and a little disappointed) as to why this is a warning and not an error.

Wouldn't it be appropriate to just

[2018-06-10 22:37] Palisand commented on #59
`react-native-keychain` [uses Keystore for API level 23+ and Facebook Conceal for 16 - 22](https://github.com/oblador/react-native-keychain#android-1). Even though Keystore was introduced in 18, [ability to store AES keys in the Keystore was added in level 23](https://github.com/oblador/react-native-keychain/pull/67#issuecomment-307689809).

[2018-06-12 19:56] ycai2 commented on #79
I think this happens very likely (although maybe more than) due to more than one processes of `getItem()` pending. Currently, without additional handling in this library, the easiest way is to make sure you don't make additional calls to `getItem()` until the first one resolves or until you call `cancelFingerprintAuth()`.

[2018-06-15 13:28] dleistn1 commented on #59
Hi everyone,

how is the status of the Keystore merge, cause we need this for a app currently under development.

@mCodex Some suggestions for your above questions:

1. Maybe the encryption should be only used if device is capable of handling it and fallback to shared prefs if not? So the library could be used on any device. Maybe its also possible to encrypt the shared preferences optionally in s

[2018-06-24 06:48] shashikiran797 opened #85 "App crashing:unrecognized selector sent to instance"
iOS versions: 11.3 and 11.4
react-native-sensitive-info versions: 5.1.0

My code
[code]

Exception logs

[code]

[2018-06-24 11:51] petrkrizek commented on #77
On iOS encrypted data persists.

[2018-06-28 12:42] haintwork opened #86 "I tried code in example in readme file but it's not working like expected"
Hi,
I created new react-native project and added code in example in readme file but when I saw log, the get all items only printed key1.
Please help to check.

Thanks and Best Regards,
Hai Nguyen Trung

[2018-07-04 09:01] denissb commented on #85
@shashikiran797 - can you paste the code of how you do `setItem`? I am assuming you provide a different configuration when calling it so there is a misalignment.

[2018-07-04 14:56] fdnhkj commented on #85
After investigating into this issue, I can reproduce the error by forcing the app to reach this line:
https://github.com/mCodex/react-native-sensitive-info/blob/master/ios/RNSensitiveInfo/RNSensitiveInfo.m#L100

Question would be which error is making the `messageFromError` method fallback on the default case.
[code]

[2018-07-04 16:18] denissb commented on #85
After taking a closer look it seems that in case any of the errors defined in `messageForError` method are encountered the app crashes with ```RCTFatalException: Exception '-[__NSSingleObjectArrayI localizedDescription]:```, in stead the promise should simply be rejected.

[2018-07-05 11:12] denissb commented on #85
@shashikiran797  - this is fixed in version 5.2.0. Before the module was crashing the app on iOS for any encountered error intentionally with `RCTMakeAndLogError`.

[2018-07-09 06:38] felixus95 commented on #85
@denissb So when will it be released to npm? Version is still at 5.1.0

[2018-07-09 06:42] felixus95 commented on #85
The pre-release is dated back to October '17 and there is a newer version (5.2.1), so the package should be updated on npm, right? @mCodex

[2018-07-09 06:43] denissb commented on #85
@felixus95, it is released, just in beta (npm shows last release). I tried it and it seems to work quite well.

[2018-07-19 07:22] odemolliens opened #90 "Android: Fatal Exception: java.lang.VerifyError"
Stacktrace:

[code]

Issue happen only on Android 4.X

[2018-07-20 10:01] odemolliens commented on #90
Fix for PROGuard

[code]

And this is needed for 4.x (but not linked to eact-native-sensitive-info library)

[code]

[2018-07-20 10:01] #90 closed

[2018-07-27 14:28] AlvaroLifeLabs opened #94 "isHardwareDetected() and hasEnrolledFingerprints() methods not available on IOS"
I'm trying to display a different message for the users when Fingerprint not configured or not available via `isHardwareDetected()` and `hasEnrolledFingerprints()`
But the object on react-native on the JS only has exposed the method `isSensorAvailable()` which combine both of the previous functions.

Am I doing something wrong or there is something missing either from the code or de documentation?

[2018-07-30 07:21] jussirantala opened #95 "iOS: Invalid typings for RNSensitiveInfoOptions?"
**react-native-sensitive-info@5.2.4 and typescript@2.7.2**

None of the options in _RNSensitiveInfoOptions_ interface is optional and the options are not documented. How do I get _setItem_ working on iOS? I don't know how to configure it.

[code]

The error I get with an empty configuration:
`  Property 'kSecAccessControl' is missing in type '{}'.`
Documentation says there should be a default valu

[2018-07-30 14:54] lchapoy commented on #72
I am Facing the same issue.
I have a react-native application with sentry:
- There are multiple issues for "unauthorized request", doing some research I found that the auth token is undefined and all the users having this problem are using either iPhone X or iPhone 8. 11.4 OS.
- The token is retrieved directly for the rn-sensitive-info get item method.

Do you guys figure out how to solve this iss

[2018-07-31 15:33] lesharadkovich opened #97 "Question about security"
Hi all. Sorry for my possibly silly question, cause I don't really know much about protecting data
I'm intrested in how secure is this lib (from keystore branch)? can someone get access to data from another app?
and one more question: is this lib better in security than for example [react-native-sqlcipher](https://github.com/sreejithkrishnanr/react-native-sqlcipher-2)?

[2018-08-03 22:17] L-Yeiser opened #98 "value not returned from setItem after RN upgrade"
After upgrading to RN 0.56 setItem stopped returning the value.
`react-native: 0.56`,
`react-native-sensitive-info: ^5.2.4`.

[code]

[2018-08-06 12:29] markoudev opened #99 ""Error storing data" on Android"
Hello!

I'm hooking up `redux-persist-sensitive-storage` in a project. That package relies on `react-native-sensitive-info` for it to do the actual storage part. On iOS it all seems to be working fine, but on Android (in the simulator at least) I get an error.

Important note: I'm using the `keystore` branch of of `react-native-sensitive-info` in order to have encrypted storage on Android. With th

[2018-08-07 13:52] mCodex commented on #6
This fix is available on latest beta version (5.2.5).

[code]

Tks @grigorigoldman

[2018-08-08 23:43] aliceathens commented on #59
Would like to upgrade my app to support Fingerprint auth but also still support Android versions below 6.0.. I'm currently also using the keystore branch but would see benefit in merging this into master so I can make use of fingerprint and even face authentication in the future.

Thanks!

[2018-08-09 13:10] zedtux opened #101 "[Question] How to check my data is secured ?"
I'm using this lib and I'd like to check that the data are stored securely on my iOS and Android devices.

What is the easiest way to do this?

[2018-08-09 17:40] arindam89 commented on #72
We are facing the same issue, we are using it in Redux for iOS and Android and in iOS 11.4.1 and onwards, the sensitive info is not present after link 15 hours or so and the application logs out the user.

It works fine for iOS lower versions and Android. Please let us know how to debug and how to proceed.

Thanks in Advance.

[2018-08-10 11:05] iSachdeva commented on #71
@giriprathap  Did you figure out the solution of above problem? I am also facing the same issue.
Appreciate on any help, Thanks.

[2018-08-13 02:47] iSachdeva commented on #71
@giriprathap  Yes it worked. Thanks.

[2018-08-19 18:24] davidfarinha opened #104 "TypeScript typings missing in "keystore" branch"
The bundled TypeScript typings [exist in the default branch](https://github.com/mCodex/react-native-sensitive-info/blob/master/index.d.ts), but not in the "keystore" branch. The typings need adding into this branch aswell.

[2018-08-26 06:11] anhhtz opened #105 "How to catch error ?"
Hello,

How can I catch error (if occur)
[code]

Thanks !

[2018-08-27 11:35] vspedr commented on #104
Hi @davidfarinha, PR #107 should address this issue. I'll take some time later to review the keystore branch and merge it into master if needed, I'm not even sure why it still exists

[2018-08-27 12:06] alainib opened #108 "app crash on start with android 4.3, work good on >= 5.x"
## Environment

  OS: Windows 10
  Node: 8.9.3
  Yarn: Not Found
  npm: 5.5.1
  Watchman: Not Found
  Xcode: N/A
  Android Studio: Not Found

Packages: (wanted => installed)
  react: ^16.4.1 => 16.4.1
  react-native: ^0.55.4 => 0.55.4

## Description

I create an app who work good on android 5 and higher. today i wanted to test it on android 4.3 but the app crash on startup. not working on debug o

[2018-08-27 13:55] davidfarinha commented on #104
Awesome, thanks. Also it was my understanding that the "keystore" branch differs from master (uses keystore instead of shared-prefs). Is this not correct? Are there any differences between these branches?

[2018-08-27 13:55] #104 closed

[2018-08-27 14:38] vspedr commented on #104
https://github.com/mCodex/react-native-sensitive-info/compare/master...keystore?expand=1

Here we can see the diff between the two branches, and it looks like there's only a few fixes in master that are not in keystore, maybe it was merged at some point but not deleted.

@mCodex are we missing something here?

[2018-08-27 15:24] sam1463 opened #109 "faceID on iOS"
Are there plans to implement support for faceID on iOS? Seems like the current implementation uses touchID and falls back to passcode. It would be nice to have an option to try FaceID, then fall back to touchID or passcode.

[2018-08-27 16:16] vspedr commented on #109
Hi @sam1463, I don't think anyone is currently working on this feature but it would definitely be a nice feature. PR's are welcome!

[2018-09-03 02:30] marudhupandiyang commented on #50
I encountered the same issue with `react-native init` project on ios. The auto linking did not work. I had to manually link to get this working.

[2018-09-03 13:29] vspedr commented on #50
@marudhupandiyang could you please open a new issue for that and provide more detail (RN version, iOS version etc.)?

[2018-09-07 12:45] snehalhumne opened #112 "Update Keychain values scenario not handled!"
Hi,
I was trying to see if the above code support the keychain/shared instance supports the update key-value pairs.
Seems to me it not supported.
Can you please help us with this.

Otherwise, I can take a pull and make the necessary change and push it.
Please let me know.
Thanks!

[2018-09-10 17:55] canastro opened #113 "ANDROID: No resource found that matches the given name: attr 'android:keyboardNavigationCluster'"
I have the following versions on my build.graddle:

[code]

When I try to run `react-native run-android` I encounter the following error:

[code]

Anyone else facing this issue?

[2018-09-19 11:06] AJM88 opened #114 "Delete and add back fingers on device not working on Android"
I'm currently using this library in a project for Android and IOS.
One of the requirements is to store some information behind fingerprint/faceid protection, so I have used this library.

So far all worked well apart from one scenario. I want the user to be able to delete all fingers and then add a new one and don't lose the access to the information saved on the secure storage. Currently, this is

[2018-09-19 12:47] AJM88 commented on #114
I have found a solution to the problem.
Inside `RNSensitiveInfoModule.java` file in the section where `KeyGenParameterSpec.Builder` is created just by adding `builder.setInvalidatedByBiometricEnrollment(false);` it will solve the issue.

If we look at androids documentation https://developer.android.com/reference/android/security/keystore/KeyGenParameterSpec.Builder.html#setInvalidatedByBiometricE

[2018-09-24 11:59] star-collector commented on #59
I made a merge request with an update for keystore branch #115. Basically, this is just the latest plugin version + keystore encrypt/decrypt features for android from current keystore branch. Seems to be working just fine.

[2018-09-27 18:17] lowell-list opened #116 "Incompatible pointer conversion warnings"
I'm seeing dangerous-looking pointer warnings during compile:

`
...node_modules/react-native-sensitive-info/ios/RNSensitiveInfo/RNSensitiveInfo.m:120:137: Incompatible pointer to integer conversion passing 'CFStringRef' (aka 'const struct __CFString *') to parameter of type 'SecAccessControlCreateFlags' (aka 'enum SecAccessControlCreateFlags')
`

The offending code is within the `setItem` method

[2018-09-28 01:00] cesarbecerra opened #117 "Error verifyReleaseResources"
When i try to compile my app for release i get the following error
`* What went wrong:
Execution failed for task ':react-native-sensitive-info:verifyReleaseResources'.

[2018-10-02 10:10] rborn commented on #117
add this in your `android/build.gradle` file (assuming you use these values for `compileSdkVersion` and `buildToolsVersion`)

[code]

[2018-10-03 09:40] zedtux commented on #117
Thank you @rborn for your help on this. Am I right thinking that the code update, done 29 days ago, in [this lib's gradle file](https://github.com/mCodex/react-native-sensitive-info/blob/master/android/build.gradle) will solve this issue and we could then remove your dirty fix ?

[2018-10-03 09:58] rborn commented on #117
@zedtux it should, you can try to install the git version and test

[2018-10-06 00:19] tbsf opened #119 "Error: encrypted argument can't be null"
After https://github.com/mCodex/react-native-sensitive-info/pull/115 I'm getting

`{ [Error: encrypted argument can't be null] framesToPop: 1, code: 'EUNSPECIFIED' }`

when I call `SInfo.getItem('blah', {})`

Trying `SInfo.getItem('blah', {encrypt: true})` gave me the same result. Am I missing another argument?

[2018-10-06 09:37] star-collector commented on #119
I made a new pull request - #120. Now **getItem** should return null if key/value pair never were set prior with **setItem** method just like the old keystore branch used to do.

About the **{ encrypt: true }** option - it never actually did anything even in the old version of keystore branch, despite being mentioned in **README.md**. I removed all mentions of it from **README** file in this pull

[2018-10-08 08:40] LeDanielH opened #121 "react-native-sensitive-info:verifyReleaseResources error"
I have upgraded my app to the newest version of React Native 0.57.1 . Release build fails with the error `react-native-sensitive-info:verifyReleaseResources`. I have updated `node_modules/react-native-sensitive-info/android/build.gradle` `compileSdkVersion` from `25` to `26` and the `targetSdkVersion` from `25` to `26` and it fixed the build issue for me.

[2018-10-08 13:45] mCodex commented on #121
Hello, v5.2.6 has been released and that error should be fixed by now. :)

[2018-10-08 13:45] #121 closed

[2018-10-08 13:46] mCodex commented on #117
Hello, v5.2.6 has been released and that error should be fixed by now. :)

[2018-10-08 13:48] #117 closed

[2018-10-08 13:51] mCodex commented on #119
Hey man, thanks! Sorry for delaying you the answer.

[2018-10-08 13:51] #119 closed

[2018-10-08 13:53] mCodex commented on #114
Thanks man! I'll close the issue, but your PR is always welcome!

[2018-10-08 13:53] #114 closed

[2018-10-08 13:55] mCodex opened #122 "Update Example Project"
Need to update example project to use latest version of RN and RNSinfo.

[2018-10-08 13:56] #6 closed

[2018-10-08 13:57] #63 closed

[2018-10-09 12:39] wanderSX opened #123 ""Error storing data" on keystore branch"
After #120 I'm getting error on keystore branch

"react-native": "0.57.0"
"redux-persist": "^5.10.0",
"redux-persist-sensitive-storage": "^1.0.0",

[2018-10-10 14:07] zagoa opened #124 "Jest cannot read property setItem"
I have a little problem with Jest. When I try to test a function using SInfo jest crash and says :

Do you have any hint ?

[2018-10-10 14:49] SebiVPS commented on #124
I had the same issue, i made a PR, which is already merged. Should be fixed in version 5.2.6. Could you check your version?

[2018-10-10 16:09] zagoa commented on #124
Ok I was on 5.2.4, I upgrade this dependency but that change nothing. Did I miss something ?

[2018-10-10 18:39] jordoh commented on #123
I'm seeing the same exception after updating from 99d010b144df258abb87facf0a81ef4a02f5ec9f to 38b9011bddea5c583a54c81d2a17430cfa4c1a98 then uninstalling + re-installing the application. Running the app with the updated code prior to re-installing did not result in an exception. 863d3e9cef8bdb2bd93c763cf439ae1944bae944 seems to be the most likely culprit, since it touched this code and was not incl

[2018-10-10 19:06] wanderSX commented on #123
@star-collector
Can't tell exactly which method caused it, because i'm not using it directly from my code. redux-persist-sensitive-storage is using this lib to store data with redux-persist.

Re-installing node_modules and app itself did not help.

Galaxy S8 with Android 8.0.

[2018-10-11 02:59] gavin-gmlab opened #125 "Delete sensitive info when app is reinstalled"
I currently use Sensitive Info to save the login tokens etc. I now have a problem where if a user uninstalls the app without logging out, then reinstalls the app on the same phone, the app crashes because it still thinks its logged in.

How can I make sure to delete any relevant information in keychain upon 1st Install? Can this be included in the base library?

I found a workaround on StackOverfl

[2018-10-11 08:05] star-collector commented on #123
Ok, I think I found out what caused the problem. Just as I thought #120 wasn't the culprit. The bug appeared only on Android >= 8.0 devices. For some reason key generator didn't create instance with RSA encryption, so obviously secret key's retrieval failed.

I made a pull request with the fix for this issue: #126

[2018-10-11 12:09] mCodex commented on #123
Thanks @star-collector, I've merged your PR :)

[2018-10-22 21:05] jkdf2 commented on #125
You may find the response from eskimo useful here: https://forums.developer.apple.com/thread/36442

[2018-10-22 21:06] jkdf2 commented on #77
Yes, for most versions of iOS, the keychain data persists. Further reading with some possible workarounds mentioned here: https://forums.developer.apple.com/thread/36442

[2018-10-24 11:59] #122 closed

[2018-10-25 12:50] RaphCayou opened #128 "On iOS, when using setItem on an undefined value, previous items are removed"
We found a problem that seems to occur only on iOS. When an undefined value is saved using setItem, previous values saved to keychain are removed. Values added after are saved as they should.

#### Adding values to keychain
[code]

#### Resulting keychain values
![image](https://user-images.githubusercontent.com/16038301/47500976-460cab80-d832-11e8-9b9a-0a64d11986c2.png)

Am I doing something wron

[2018-11-01 08:57] #123 closed

[2018-11-02 12:32] Rendfold opened #129 "A problem occurred evaluating project ':react-native-sensitive-info'"

[2018-11-05 05:29] #129 closed

[2018-11-13 15:45] ButuzGOL opened #130 "Android permissions marked as risky ?"
I have run application with MobSf
and it gave us three issues based on permissions
- android.permission.WRITE_EXTERNAL_STORAGE
- android.permission.READ_PHONE_STATE
- android.permission.READ_EXTERNAL_STORAGE

![mobsf](https://user-images.githubusercontent.com/196564/48425449-88f4db80-e76d-11e8-9af0-3ccac66ead32.png)

[2018-11-13 20:10] mCodex commented on #130
Can you explain more? RNSInfo only needs USE_FINGERPRINT. As you can see [here](https://github.com/mCodex/react-native-sensitive-info/blob/master/android/src/main/AndroidManifest.xml)

Maybe those authorizations are from React-Native, check [here](https://facebook.github.io/react-native/docs/removing-default-permissions)

[2018-11-14 10:43] ButuzGOL commented on #130
sorry my search showed it in example page

[2018-11-14 10:43] #130 closed

[2018-11-21 13:46] balthazar commented on #99
I believe #126 fixed this issue.

[2018-12-07 04:17] Kylar13 commented on #128
Holy fucking shit, we just spent 4hours trying to figure out a VERY weird behavior, only to find out that the developer of this fucking library has not even spent the probably 2min that would take to solve this fucking issue. FUCKING FUCK

[2018-12-12 23:18] dcalhoun opened #133 "Query by Keychain account"
I have a Keychain value that is stored for a specific [`kSecAttrAccount`](https://developer.apple.com/documentation/security/ksecattraccount). **Is there any way to use `react-native-sensitive-info` to query for an iOS Keychain value by account?**

---

For backstory, I am attempting to accomplish the exact same goal as #29. However, my Swift-based iOS app uses [`Locksmith.saveData`](https://githu

[2018-12-17 14:46] EJohnF commented on #128
yea, also spend quite some time what's happening. Now need to add some surrounded checks.

[2018-12-17 17:32] dcalhoun commented on #133
I now realize that the `key` parameter for `react-native-senstive-info` is in fact being [set as the `kSecAttrAccount` argument](https://github.com/mCodex/react-native-sensitive-info/blob/189902861bcf140c31d2423d2b6db3b3a1f3aa67/ios/RNSensitiveInfo/RNSensitiveInfo.m#L148) for the iOS Keychain query. Sorry, I'm very unfamiliar with Obj-C and overlooked that fact earlier.

For posterity, I have been

[2018-12-17 17:32] #133 closed

[2018-12-28 12:41] markoudev commented on #99
Thanks for the heads-up! Unfortunately, #126 didn't fix it :( I did some more debugging and found that it didn't happen with little pieces of data. Only when the string to be encrypted was 4073 characters or longer, I would get the `IllegalBlockSizeException`.

I came across this article:
https://proandroiddev.com/security-best-practices-symmetric-encryption-with-aes-in-java-7616beaaade9

And foun

[2019-01-07 21:44] mromarreyes commented on #8
Has this been resolved?

[2019-01-08 08:08] bennyh23 opened #134 "[Question] - why SInfo is undefined"
Hi, i'm trying to use this library for secured storage, when i try to use SInfo it says it undefined,
here is part of the code, am i miss something ?

[code]

[2019-01-08 10:55] vspedr commented on #134
Hi @bennyh23, did you follow the [linking](https://github.com/mCodex/react-native-sensitive-info#linking-project) instructions from the README? The lib will not work if you skip this, as it depends on some native code.

[2019-01-08 11:11] bennyh23 commented on #134
i run
react-native link react-native-sensitive-info
to link the package

[2019-01-14 12:50] ItsNotEasyBeingGreen commented on #128
This is default Keychain behaviour.

[2019-02-01 21:26] abaddonGIT opened #136 "Not restore information after reinstall application on android"
Hi guys. I not restor my information after app reinstall. It works on ios (after resinstall app i can get my id from keychain) but not worked in android.
manifest file:
`<application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_******_launcher"
      android:allowBackup="true"
      tools:replace="android:allowBackup"
      android:ful

[2019-02-10 16:04] voliva commented on #59
I'm sorry I don't fully understand what's the difference between both branches, since in master branch I see that for Android M+ it's generating an AES key to encrypt the values stored in shared preferences

By taking a look at the [diff](https://github.com/mCodex/react-native-sensitive-info/compare/keystore), all I can see is that keystore branch supports older Androids by fallbacking to RSA keyp

[2019-02-13 18:58] gusgard commented on #119
I'm having the same error but only happens with an Android Nexus5X - 8.1.0. Any reason why it is fails with that device and why? I'm in the last commit of the branch `keystore`. Thanks

[2019-02-18 12:05] AliakseiDouhal commented on #114
This problem still reproduce. Can anybody fix this? Thank you

[2019-02-18 21:08] ol3j opened #137 "problem with install pod"
Hi,

I have problem with install pod for ios.
I run
* yarn add react-native-sensitive-info
* react-native link react-native-sensitive-info
next I go to folder ios and run
pod install

I have the message.

[code]
What is wrong?

[2019-02-22 14:51] AJM88 commented on #114
@AliakseiDouhal I just created a PR with the changes I proposed on my previous comment. [https://github.com/mCodex/react-native-sensitive-info/pull/138](https://github.com/mCodex/react-native-sensitive-info/pull/138).

Until @mCodex reviews it and decides if it is worth including it, you can try it from my GitHub fork. It'll be good as I haven't had time to test it, that is why I was taking time t

[2019-02-23 19:44] AliakseiDouhal commented on #114
It looks good @AJM88 . I think you should add @mCodex in reviewers in your PR, may be it will help him see PR sooner

[2019-03-04 18:21] BenjErgizerBunny opened #141 "Cannot read property setItem of undefined"
I keep getting the error in the title above for iOS.  I've checked package.json to make sure "react-native-sensitive-info": "^5.3.0" is there.  I've also checked my Podfile and   pod 'react-native-sensitive-info', :path => '../node_modules/react-native-sensitive-info' is showing up.

I can launch successfully on Android without any issues using the exact code I've included below which matches exam

[2019-03-05 13:08] BenjErgizerBunny commented on #137
I had the same issue when trying to run pod install after doing react-native link because when only doing react-native link I get an error when calling SInfo.setItem that SInfo is not defined

[2019-03-06 19:01] thomasw commented on #125
For reference, the Stackoverflow thread @gavin-gmlab mentioned in his original post is https://stackoverflow.com/questions/4747404/delete-keychain-items-when-an-app-is-uninstalled

In my case, I'm using react-native-sensitive-info through redux-persist-sensitive-storage (through redux-persist). That means I only need to delete one key. My solution looks like this:

[code]

This is based on the imp

[2019-03-13 10:57] alainib commented on #141
same issue after just installed it (badly apparently)
i linked it but i have nothing in pod for this lib

any fix ? thanks

[2019-03-13 15:03] khorark commented on #137
Hi! React-native-sensitive-info need min target ios version 9.1 . Please, open your Podfile and check ios version. Should be "platform :ios, '9.1'" or hight.

[2019-03-15 07:59] kashkama commented on #57
can I do this with yarn?

[2019-03-29 10:37] samcampisi commented on #136
I would also like to persist the sensitive info after the app is uninstalled and reinstalled again. Is there a way of achieving this?

[2019-04-08 09:48] wilqq opened #143 "Cannot read data after package update"
We've updated `react-native-sensitive-info` package from version `5.0.0` to `5.2.5`, both on branch `keystore`. After this update we cannot read data saved with version `5.0.0` on Android devices. On iOS everything works ok.

App throws following error:
[code]

Is there any way to retrieve those data saved with older package version?

[2019-04-08 19:10] blolo opened #144 "User interaction is not allowed"
I'm seeing this error message "**User interaction is not allowed**" a lot when running my app:

1.  What is the proper way of using setItem method? this is what I' doing
**rnsi.setItem(someKey, someEncryptedValue, {})**

2. What is the reason for this error?

[2019-04-10 15:25] anagar23 commented on #13
@mCodex, still it's not working. error: bundling failed: Error: Unable to resolve module `react-native-sensitive-info` from `/Users/amitnagar/Documents/GitHub/sensitive/example/App.js`: Module `react-native-sensitive-info` does not exist in the Haste module map while bundling the example on Android device.

[2019-04-11 11:49] #109 closed

[2019-04-12 08:42] savelichalex commented on #137
Could someone told why version 9.1 is required?

[2019-04-12 12:37] maciejsaw opened #147 "Face ID"
Thank you for a great lib. We used this in our app which enabled us a secure fingerprint login.

Is there a chance you could add a support for iOS Face ID?

[2019-04-18 18:13] NachoJusticia commented on #124
I'm still having this problem with the version "5.3.0"

[2019-04-19 05:19] anagar23 commented on #71
@giriprathap , I am using 5.3.0 version of the library but not able to get the Touch ID pop while setting the key in Keychain.

In Android, it's working nicely.

`static setItem(key, value) {
    return sInfo.setItem(key, value, {
      keychainService: keyChainServiceName,
      kSecAccessControl: 'kSecAccessControlTouchIDCurrentSet',
      touchID: true,
      showModal:true,
      sharedPrefere

[2019-04-29 07:45] savelichalex commented on #147
Hi @maciejsaw , I already did it https://github.com/mCodex/react-native-sensitive-info/blob/master/ios/RNSensitiveInfo/RNSensitiveInfo.m#L37

@mCodex could I ask you to create new release please 😊

[2019-04-29 11:39] mCodex commented on #147
Doing this right now 😄

[2019-04-29 11:45] mCodex commented on #147
Done! 🤗  Released in 5.4.0 🎉

[2019-05-05 22:38] thomasw commented on #125
I ended up running into what I assume is this exact issue but I haven't been able to work out a solution just yet.

[2019-05-13 13:57] lcorniglione commented on #124
Same issue version 5.4.0, trying to make a mock.

`TypeError: _reactNativeSensitiveInfo.default.deleteItem is not a function`

[2019-05-15 18:41] zakdances commented on #124
Similar issue with 5.4.1

[code]

[2019-06-12 18:44] dcalhoun commented on #137
@savelichalex there is [no reason for the 9.1 requirement](https://github.com/mCodex/react-native-sensitive-info/issues/46#issuecomment-332289521). It was [rolled back 8.0](https://github.com/mCodex/react-native-sensitive-info/pull/48). However, there appears to have been an oversight and the [podspec file was not correctly rolled back](https://github.com/mCodex/react-native-sensitive-info/blob/06

[2019-06-25 14:30] burugular opened #153 "Execution failed for task ':react-native-sensitive-info:lint'"
Hi team,
   I am using react-native-sensitive-info in my project and I am facing an issue. Build fails with the following error `Execution failed for task ':react-native-sensitive-info:lint'`.

[code]

I have added 'abortOnError false' as well.

here is the build.gradle.

[code]
settings.gradle

[code]
package.json
[code]
Could you suggest how to fix this please

[2019-07-08 21:53] Kida007 opened #155 "Autolinking support"
react-native 0.60.0 Introduces Autolinking , would be great to Implement it.

PS:  (Following your Help-Wanted Note )I'm thinking of being a mini-maintainer of this library. Would help me learn stuff . let me know where to catch up ( an email or something ). Thanks for the great lib though

[2019-07-09 18:06] JeffreyLeeDave commented on #141
So I've notice this issue on some other libraries as well. What I did was this.

1. yarn install to get the package
2. react native link
3. pod install

[2019-07-11 16:42] dannydanzka commented on #155
Currently in reactio-native 0.60 when trying to install the pod libraries this error appears.

**CocoaPods could not find compatible versions for pod "react-native-sensitive-info":**

It would be fine if you are going to continue giving support.

Regards!

[2019-07-15 17:09] ErnesII opened #156 "Androidx Support"
It seems that this library is not working with rn 0.60, so I just changed this import:
import android.support.annotation.NonNull; by this import androidx.annotation.NonNull;

Im creating this issue for someone that is having problem with this library and rn 0.60. It is a temporal fix.

react-native-sensitive-info ->  android -> build -> src -> main -> java -> br -> com -> classmap -> RNSensitiveIn

[2019-07-17 20:51] konjoinfinity commented on #124
I am also having this issue when attempting:

[code]

[2019-07-18 03:51] bneigher commented on #156
+1

[2019-07-26 14:39] Cyrxio commented on #156
I made a PR for this : #157
Need it too.

[2019-07-31 23:48] mCodex commented on #156
Released in 5.5.0 👍

[2019-07-31 23:48] #156 closed

[2019-08-04 03:53] 101arrowz opened #158 "Android Fingerprint Suggestions"
1) When not providing the touchID param in setItem, data is unencrypted (for obvious reasons). However, when using getItem with the touchID param, an error is thrown "DecryptionFailed" with no further info. If I want it such that the user only has to authenticate to get the item and not to set it, I cannot do that on Android but I can on iOS. This is less of a bug and more of a feature request: th

[2019-08-04 05:00] 101arrowz commented on #158
When revisiting the Java code and revisiting the documentation I realized that it might not be possible to perform encryption with KeyStore without authentication. If I am correct in assuming this, please close the issue.

[2019-08-12 19:21] driley-emoney opened #159 "[Question] Android passcode fallback"
Since iOS allows a possible device code fallback, does this library allow the device code to be used instead of fingerprint in the case fingerprint is not setup? It seems like this may be possible through android keystore but a brief look at the android code here looks like fingerprint would be required for this to work.

Specifically, it appears if we set setUserAuthenticationValidityDurationSeco

[2019-08-16 15:25] afiller opened #160 "Issues when updating the library OR the OS of an already existing app installation."
Hello everyone,

we already use this library for a while on iOS and Android. Thank you in this regard, we are happy to have this cross platform solution.

This week we wanted to update the library from an old version of the "keystore" branch to a new one and we faced severe problems with already existing installations of the app, which used the old version before. We therefore deep dived into the

[2019-08-20 10:42] jacek213 commented on #59
@mCodex I need to support Android >= 7.0 and I do not want to use fingerprint for storing stuff in store. Should I use the keystore branch? Or could u tell us how does encryption of shared preferences work on master branch?

[2019-08-20 10:52] jacek213 commented on #156
@mCodex

With this change and RN 0.59.10 I'm unable to build app.

Getting this error:

`node_modules/react-native-sensitive-info/android/src/main/java/br/com/classapp/RNSensitiveInfo/RNSensitiveInfoModule.java:18: error: cannot find symbol
import androidx.annotation.NonNull;
`

[2019-08-21 21:01] mCodex commented on #156
@jacek213 can you try to use 5.4.x, because v5.5.0 is only for RN 0.60+ 🤗

[2019-08-21 21:20] jacek213 commented on #156
yup I did so yesterday, thx for the reply :)

[2019-08-22 12:03] michalpilarekfrisco commented on #156
Could You make same changes for KeyStore branch?

[2019-08-23 21:41] skurgansky-sugarcrm commented on #95
getAllItems should return Object but i'm getting on iOS
[code]
on Android `{ [key: string]: string }` ???

[2019-09-02 02:39] Abramovick commented on #137
Was this ever fixed, I'm still getting that same error.

[2019-09-02 06:05] savelichalex commented on #137
@Abramovick it's still here https://github.com/mCodex/react-native-sensitive-info/blob/master/react-native-sensitive-info.podspec#L9

[2019-09-02 12:29] Abramovick commented on #137
@savelichalex thanks bro.
It a really really simple fix, not sure why it's not been changed since June...

[2019-09-02 12:32] savelichalex commented on #137
@Abramovick yeah, I know it's frustrating... Anyway, you can create your own copy of this podspec and place it somewhere in your folder, then just use it instead default one, as a quick temporal fix.

[2019-09-02 12:44] mCodex commented on #137
I rolled back .podspec to 8.0, can you see if 5.5.1 works for you?

[2019-09-02 13:33] demchenkoalex commented on #144
For anyone facing this issue - take a look at the answer [here](https://stackoverflow.com/questions/9723949/ios-sfhfkeychainutils-failing-sometimes-with-error-25308-errsecinteractionnot). You are able to set keychain access attribute in the **options**, e.g.

[code]

[2019-09-09 14:41] Prophetaa commented on #147
@savelichalex  thanks for your addition, but how can I integrate face ID? By simply adding kSecAccessControl: "kSecAccessControlBiometryAny" to the options object?

Thanks in advance

[2019-09-10 07:21] savelichalex commented on #147
@Prophetaa Hi! Yes, just like that. I'm also using `touchID: true`, don't remember actually why 😅

[2019-09-10 07:40] Prophetaa commented on #147
@savelichalex Thanks for the quick reply! I've tried, however, my iPhone X simulator and real devices keep crashing on authentication, the screen goes black and the app dies. Has this ever occured to you?

[2019-09-10 08:22] savelichalex commented on #147
@Prophetaa no, sorry. I didn't get part about authentication, does it occur before or after you had a chance to use FaceID (I mean, do you see a system alert for biometry authentication) ?

[2019-09-10 08:37] Prophetaa commented on #147
@savelichalex That's the problem, it happens when the alert for biometry is supposed to show up, the screen goes black for a second and then the app crashes, then I get this on Xcode
<img width="906" alt="Screen Shot 2019-09-10 at 10 34 58 AM" src="https://user-images.githubusercontent.com/38473739/64597840-e3bf8980-d3b6-11e9-802a-a4cf7054200d.png">
I went from version 5.2.7#keystore to 5.5.0 , is

[2019-09-10 08:39] savelichalex commented on #147
It would be great if you did a sample project with this error, I'll try to take a look then.

[2019-09-11 09:00] Prophetaa commented on #147
Good morning @savelichalex , sorry it took some time to get back I was a bit busy, anyway I managed to replicate the issue, I saved it here https://github.com/Prophetaa/rnsi-test, just git clone install the pods and run that baby on iOS. When you attempt to get items from the RNSI storage it dies if you're using faceID, touchID works fine :(

[2019-09-11 11:56] savelichalex commented on #147
Hi @Prophetaa, unfortunately I don't have an X device right now, but I'll look as soon as I can, hope it won't be too long, sorry.

[2019-09-11 12:05] Prophetaa commented on #147
Hey @savelichalex It also crashes in a simulator the same way, but surely take your time, thank you so much for the help <3

[2019-09-11 14:41] Prophetaa commented on #147
UPDATE: @savelichalex  don't bother, I found the issue. I went to read the apple docs, and it turns out you need to declare a NSFaceIDUsageDescription key on the Info.plist file.  @mCodex Should we add this to the libraries Readme file?

[2019-09-15 19:11] morrigan commented on #147
Hey guys, should a modal/dialog prompt when using `setItem` ? I am not getting it on using that method although storing works. Only on `getItem` I get the dialog prompt "Do you want to allow XY to use Face ID". Any suggestions here?

[2019-09-16 05:29] aliceathens commented on #156
+1

[2019-09-16 09:58] Prophetaa commented on #147
Hey @morrigan , setItems does not require authentication, therefore it doesn't prompt the user, only getItem will ask for auth (finger or faceID) 😄

[2019-09-16 13:25] morrigan commented on #147
@Prophetaa that's interesting! Ok, good to know (and maybe document).

[2019-09-16 13:29] Prophetaa commented on #147
@mCodex can we close this issue? Obrigado <3

[2019-09-16 20:43] mCodex commented on #147
Sure! Obrigado! 😉

[2019-09-16 20:43] #147 closed

[2019-09-16 20:55] jpodpro commented on #105
i have an issue where getItem doesn't resolve. in iOS after a period of inactivity and airplane mode when network returns the app runs and mounts in the background which calls getItem in my app. however the promise never resolves.

[2019-09-20 15:48] driley-emoney opened #164 "Allow setting localizedFallbackTitle"
The library currently sets localizedFallbackTitle (on iOS) to an empty string. This prevents the user from being able to use a pincode fallback. If we add localizedFallbacktitle to list of strings, we could set it and get this functionality.

[2019-10-02 03:13] digitaluniverse commented on #137
[](https://github.com/pradeep1991singh/react-native-secure-key-store) was my way of fixing this issue

[2019-10-08 23:53] arnoldc commented on #137
For the keystore branch, its not yet fix
it still says
s.platform      = :ios, "9.1

see code
https://github.com/mCodex/react-native-sensitive-info/blob/keystore/react-native-sensitive-info.podspec

[2019-10-11 12:34] mCodex commented on #137
Done.

[2019-10-11 21:57] mCodex commented on #164
Published in 5.5.3

[2019-10-20 06:56] guitorioadar commented on #124
Well in my case

`$ cd ios`
`$ pod install`
`$ cd ..`

this works for me...

[2019-10-31 18:11] SamRaymer commented on #8
opened a PR for this at https://github.com/mCodex/react-native-sensitive-info/pull/168

[2019-11-13 10:14] Igor-Adlab opened #169 "Handle Key invalidation Exception when new fingerprint/face added"
**Problem:** User can not log in to the app when a new fingerprint/face was added.

**Android:**
Add catch statement for [KeyPermanentlyInvalidatedException](https://stackoverflow.com/a/44900204) to [putExtraWithAES](https://github.com/mCodex/react-native-sensitive-info/blob/df0bade7bafba082cf6db65a68858611c9e70244/android/src/main/java/br/com/classapp/RNSensitiveInfo/RNSensitiveInfoModule.java#L4

[2019-11-15 11:34] anmol-sovereign-wallet opened #170 "App Crashes in real device and simulator both."
As I install the library using -> yarn add react-native-sensitive-info ; and try to run the project without any changes made in the app it crashed the App; and if I remove the library and rerun the app, the app runs fine like previous.

RN version - 0.61.4
Device tested - Android ->  Android 6.0.1 Marshmallow
Simulator tested - Andorid ->  Android 6.0.1 Marshmallow

[2019-11-15 12:03] #170 closed

[2019-11-15 12:04] anmol-sovereign-wallet commented on #170
Yarn installation was not working fine tried with npm and it worked smoothly.

[2019-11-19 14:25] sam1463 opened #171 "Non-empty localizedReason must be provided."
I'm getting an error trying to use biometric auth: `Non-empty localizedReason must be provided.`

my options:
[code]

Am I missing something?

[2019-11-19 14:39] sam1463 commented on #171
Update: it looks like I needed to pass the `kSecUseOperationPrompt` option as well. Should this be included in the docs?

[2019-12-04 19:15] virdesai commented on #125
You can do this without needing to modify native code by implementing AsyncStorage as that stored value will be gone between uninstalls
`import SInfo from 'react-native-sensitive-info';
import AsyncStorage from '@react-native-community/async-storage';
...
            try {
                const firstRun = await AsyncStorage.getItem('firstRun');
                if (!firstRun) {

[2019-12-05 22:28] thomasw commented on #125
@virdesai That seems really promising. Thanks. I will give it a try.

Do you happen to know offhand if there are async-storage docs which explicitly say that the the values are not persisted between installs?

Just as an update to the following comment I made back in the day:

I actually don't think this is the issue I was running into and that the solution I proposed was working as designed. It's

[2019-12-11 00:11] SamRaymer opened #173 "NPM release schedule?"
Hi there! I was curious what the plans are for the next NPM release. We would love to start using NPM again for tracking this dependency in my project but a feature we merged and depend on is still unreleased. Thanks!

[2019-12-12 17:59] mCodex commented on #173
Hello, sorry! I've been busy recently, but I just released the v5.5.4 😉

[2019-12-12 17:59] #173 closed

[2019-12-13 08:40] kbourchbane opened #174 "androidx.annotation.NonNull"
in my project react-native I don't use androidx, and i have a lot of lib didn't use androidx, I have to delete the import line androidx.annotation.NonNull; in RNSensitiveInfoModule to work. any help please

[2019-12-13 20:41] sam1463 opened #175 "App Crash on android devices when using fingerprint"
When using this module on android, we're getting the following error:
[code]

This is occurring on android 8.0.0, 8.1.0, 9, and 10

[2020-01-10 13:04] spawn-guy commented on #159
i am investigating exactly this functionality/fallback.

but it seems that this feature is not available in the `FingerprintManager` that is used here, but it IS available with `BiometricManager`. which is the successor of deprecated `FingerprintManager` (This class was deprecated in API level 28)

so, the BiometricsManager has a BiometricsPromt builder (i.e. no need to create custom screens for f

[2020-01-14 05:41] cx5168 opened #179 "can't get the store data by uninstall-install on android"
After uninstalling and reinstalling, the last saved data cannot be retrieved on android

react-native: 0.61.4
react-native-sensitive-info : 5.5.5

source:
import ShareInfo from 'react-native-sensitive-info';
const shareData = await ShareInfo.getItem('uniqueId', {
      sharedPreferencesName: 'share',
      keychainService: 'myKeychain',
    });
    if (!shareData) {
      const uniqueId = await De

[2020-01-25 19:50] afiller commented on #105
Were you able to solve this in an own fork or something, @jpodpro? We are facing the same problem in one of our projects.

[2020-01-26 02:43] jpodpro commented on #105
@afiller i think we just worked around the issue by avoiding calling `SInfo.getItem` in the background context. looking at the code here it looks like we have restricted `SInfo.getItem` to the `componentDidMount` handler.

[2020-01-31 05:14] dtmp commented on #101
I was very surprised when I discovered that the data is not really protected

you can check it for android:

`
$ adb shell
$ run-as <app-package-name>
$ cd shared_prefs/
$ cat shared_preferences.xml
`

data is stored in unencrypted representation

[2020-01-31 06:54] phyzalis commented on #101
I guess you need a rooted phone to do that ?

[2020-01-31 20:54] dtmp commented on #101
I tested it on an emulator. only with remote debugging enabled.

maybe I don’t understand something, but having implemented my own module inspired by this [post](https://medium.com/@ericfu/securely-storing-secrets-in-an-android-application-501f030ae5a3), I saw encrypted data in the storage.

I look at the RNSensitiveInfoModule.java module and don’t understand how encryption is called without passi

[2020-02-03 09:11] zedtux commented on #101
Hopefully @mCodex gives us an input about this topic?

[2020-02-06 11:57] chrismoran-bkt commented on #174
Take a look at [this explanation of androidx](https://enappd.com/blog/androidx-react-native/83/). This is likely what will fix your issue.

[2020-02-12 11:24] kneza23 opened #181 "Proposal: giving this to the React Native Community"
- As developer stated that he needs help and don't have enough time and resource to continue supporting this amazing library.

- This is direct dependency to the redux-persist-sensitive-storage which is one of the only options to have secured storage integrated with the redux and react-native.

Is there an option to give this to the community https://github.com/react-native-community?

[2020-02-12 21:56] mCodex commented on #181
Actually, it would be a great idea. I think this will be good for everyone.

[2020-02-16 01:04] michaelcsilva commented on #72
I may be seeing this too on iOS, often shortly after app startup.  Killing and restarting the app seems to resolve the issue.  It's very inconsistent, but I see it in my own testing about 1 time per week, running the app on iOS in production mode (i.e. not attached to a debugger).

The bug indicates help is needed.  What can I enable in terms of logging, alerts, etc. to help debug?

[2020-02-19 09:06] kellycampbell commented on #72
Seeing this as well. Further searching turned up this issue thread: https://github.com/evgenyneu/keychain-swift/issues/78

I will try to implement the solution suggested in this comment: https://github.com/evgenyneu/keychain-swift/issues/78#issuecomment-495959391

[2020-02-21 03:37] ripzery commented on #179
Isn't that a correct behavior? The data should be removed if the app is uninstalled, no?

[2020-02-24 14:07] ravi-poonia commented on #181
@mCodex That's a great idea. Many people are not actually aware that this library exists.If we move it under the community, it will finally get the limelight that it deserves.

[2020-02-24 14:33] mCodex commented on #181
I couldn't find where I can do the request. Do you guys know?

[2020-02-26 06:59] ravi-poonia commented on #181
@mCodex You can try emailing to one of the members regarding this.

[2020-03-20 09:18] mladibejn opened #186 "kSecAttrAccessible related question"
Hi,

I'm trying to understand how the library works when touch id and biometrics are enabled. I've tried various options of kSecAttrAccessible attribute, but it seems like even with kSecAttrAccessibleAlways, when I called getItem of the same attribute I'm always prompted for the Face Id. Is there a way to unlock the data once in the app/system and use get/set while its unlocked or each time I invo

[2020-04-09 20:37] RobPando opened #189 "Migrating from master to keystore branch"
I am trying to move an app into using the Keystore branch but the previous stored values cannot be retrieved because this branch naturally tries to decrypt every value being retrieved. Is there a solution to migrate from the master branch into the Keystore branch? right now the app crashes when trying to switch branches.

[2020-04-17 21:57] krutkowski86 commented on #71
I've got the same issue. When using setItem on iOS, there is no promt for user authentication. Any update?

[2020-04-20 15:18] gusgard commented on #179
Are you using `android:allowBackup="false">` ? https://stackoverflow.com/a/35296675/2407880

[2020-05-02 10:19] Marvedog commented on #101
This may be a little bit late, but I would recommend checking out the following resources for local storage security testing

- [Android](https://github.com/OWASP/owasp-mstg/blob/1.1.3/Document/0x05d-Testing-Data-Storage.md#testing-local-storage-for-sensitive-data-mstg-storage-1-and-mstg-storage-2)
- [iOS](https://github.com/OWASP/owasp-mstg/blob/1.1.3/Document/0x06d-Testing-Data-Storage.md#testin

[2020-05-05 04:22] GautamKrishnan opened #190 "What happens if I decide to remove the fingerprint permissions from the manifest file?"
Hi,

The Application I am working mandates i remove the fingerprint permission as it keeps coming up in the security testing scans. I am not using the fingerprint in my app, so what happens if remove the permission from android manifest?

[2020-05-06 11:23] danghung24031992 opened #191 "Get data from native code"
I try get data from native code , but not done.Pls , support for me

[2020-05-07 14:02] azuxx commented on #181
Hello,
I think you can try here:

https://github.com/react-native-community/discussions-and-proposals/issues?q=is%3Aopen+is%3Aissue+label%3A%22%F0%9F%92%A1+Proposal%22

I am wondering if I can use this library to store authentication headers when doing the graqhql requests.

Thank you

[2020-05-11 22:37] rlyle opened #192 "iOS not working..."
I'm getting the following error when I attempt to use this package on IOS (it's working fine on android).

[code]

[2020-05-23 21:48] pererasys commented on #181
Is there an update on this?

[2020-05-27 05:30] HadiModarres opened #193 "isHardwareDetected() not working on iOS"
isHardwareDetected function works properly for Android; it returns true if device has the capability but user hasn't enrolled any fingerprints, but the method doesnt work the same for iOS.

Am I missing something?

[2020-06-05 11:57] exotexot opened #194 "Need Catalyst support"
Would appreciate Catalyst support. I can build for Catalyst without problems but I cannot store and retrieve data in my Catalyst app.

[2020-06-11 10:09] zedtux commented on #97
Yep, no recent activity, but from @mCodex.

[2020-06-11 11:30] mCodex commented on #97
Hi,

[code]

[2020-06-11 11:52] mCodex commented on #97
Hi,

[code]

First of all, I'm sorry about that as I stated before, I wasn't actively maintaining this project I was just merging and releasing new versions. However, since yesterday I came back and started organizing this repo.

[code]

@lesharadkovich it's a not silly question 😄don't worry.

Keystore and Keychain are system secured storage for each platform used by many applications . I really d

[2020-06-11 12:29] mCodex opened #196 "Use keystore as default secure storage for Android"
Since v6.0.0 the lib should use Android's Keystore as default storage for better security purposes and shared preferences could be still used, but not as default.

[2020-06-11 12:35] mCodex opened #197 "Create a RNSInfo's website"
Create RNSInfo's website and move everything from README to the site.

- [x] Generate default template from docusaurus
- [x] Host the website (https://mcodex.github.io/react-native-sensitive-info) [WIP]
- [x] Move installation instructions from README to `docs` folder
- [x] Move RNSInfo's API from README to `docs` folder
- [x] Update README

[2020-06-11 12:43] mCodex opened #198 "Generate a new project example"
The example project is outdated, so it should be updated to the most recent version of React-Native. In addiction to that, it will be easier to implement more features or bug fixes having a starter project.

[2020-06-14 13:38] #179 closed

[2020-06-14 13:38] #71 closed

[2020-06-14 13:38] #101 closed

[2020-06-14 13:38] #190 closed

[2020-06-14 13:38] #191 closed

[2020-06-15 16:22] #171 closed

[2020-06-20 13:27] mCodex commented on #197
@all-contributors please add mcodex for doc, code, review, ideas

[2020-06-20 13:29] #197 closed

[2020-06-20 17:19] dhussong opened #201 "Android showModal?"
In the documentation (https://mcodex.dev/react-native-sensitive-info/docs/android_options), it states that "when showModal is true, an Android native prompt will show up ...". Where is "showModal" used? How do I set it to true?

[2020-06-20 17:41] mCodex commented on #201
@dhussong you can use it in:

[code]

Or

[code]

I'm so sorry docs are being still developed

[2020-06-20 19:28] #158 closed

[2020-06-20 19:57] dhussong commented on #201
Not a problem. Thank you for the quick reply!

[2020-06-20 19:57] #201 closed

[2020-06-23 15:19] samuelasd opened #203 "setInvalidatedByBiometricEnrollment invalid arguments"
Hi,

I'm trying to call the method SInfo.setInvalidatedByBiometricEnrollment(false); but I'm receiving the following error:

![imagen](https://user-images.githubusercontent.com/19672138/85422160-45ff0a80-b543-11ea-8369-0b32d1616682.png)

Im using RN 0.61.5 and react-native-sensitive-info": "5.5.5"

What Am I doing wrong?

[2020-06-23 20:35] mCodex commented on #203
Hello, it is really strange.

It can be a bug I'll try to debug it.

[2020-06-23 21:01] samuelasd commented on #203
Thanks, if you need aditional info just tell me

[2020-06-23 21:08] #97 closed

[2020-06-28 11:07] jambanagar opened #204 "Error with setItem after Biometrics are added (invalidated)"
Bug:

Android:

1. Remove all fingerprints on the device
2. Clear the app cache and open the app (make sure the SInfo is imported in the activity)
3. Since there is no fingerprint, we thrown an alert to user to add fingerprints.
4. Add a fingerprint on the device
5. Go back to app and try to SInfo.setItem it throws a crypto error

It looks like once SInfo generates a key in Android keystore, it tr

[2020-07-11 17:07] Kida007 commented on #155
already handled .

[2020-07-11 17:07] #155 closed

[2020-07-15 14:19] JeremyBradshaw7 opened #206 "How to install keystore branch?"
Pardon my ignorance, but how exactly do you install the keystore branch, eg. using yarn? I want to start using this from the off rather than having the problem of trying to change it later.

[2020-07-15 14:29] JeremyBradshaw7 commented on #206
Is the right:

`yarn add git://github.com/mCodex/react-native-sensitive-info#keystore`

[2020-07-16 12:45] mCodex commented on #206
It is totally right! :) Thanks for your feedback, I'll add it in our docs.

[2020-07-17 07:56] JeremyBradshaw7 opened #207 "Clarification on Authentication processes"
The docs suggest that the user has to authenticate in some way before it allows access to the keychain or shared preferences (eg. fingerprint, touch ID, face recognition). I've deployed this to a couple of devices through testfairy and don't get prompted to further authenticate, so am puzzled as to when and why this extra layer of security would kick in. Some clarification would be useful, we'd ha

[2020-07-17 07:57] JeremyBradshaw7 commented on #206
Thanks

[2020-07-17 07:57] #206 closed

[2020-07-23 19:51] #203 closed

[2020-07-23 19:55] mCodex commented on #203
Released in 5.5.7 😄

[2020-07-24 08:43] kneza23 commented on #196
Official RN docs included your library to the Security page https://reactnative.dev/docs/security. It would be amazing if eventually we get Android's Keystore as default storage :)

[2020-07-24 09:49] spawn-guy commented on #159
i think this refactoring possibility should not be forgotten :/

[2020-07-25 00:06] mCodex commented on #198
Currently working on it in [feature/example](/mcodex/react-native-sensitive-info/tree/feature/example) branch

[2020-07-28 14:43] maggialejandro-rp opened #216 "java.security.UnrecoverableKeyException: Failed to obtain information about key"
We are having this issue on v5.5.1

android.security.KeyStoreException: Invalid key blob

<img width="472" alt="Screen Shot 2020-07-28 at 11 37 32" src="https://user-images.githubusercontent.com/50118796/88680310-bced6d00-d0c6-11ea-99e5-b3db157c3e28.png">

<details>
<pre>
0 = {StackTraceElement@11586} "android.security.keystore.AndroidKeyStoreProvider.loadAndroidKeyStoreSecretKeyFromKeystore(Andro

[2020-07-28 14:47] maggialejandro-rp commented on #216
@mCodex I'm not sure, can we handle this scenario the same way as a InvalidKeyException?

[2020-07-28 15:23] mCodex commented on #196
@kneza23 thanks for pointing it out! I didn't know 😱  Yeah, I think it is time to do this migration

[2020-07-28 15:31] mCodex commented on #216
@maggialejandro-rp I guess it could be a way. First, need to investigate where this exception is being thrown in RNSInfo. Do you get this error using which method?

[2020-07-28 15:36] mCodex commented on #196
This afternoon I will create a new branch from master and I'll merge keystore into that branch. So, we gonna have a starting point for this 👏 👏 👏

[2020-07-28 15:38] maggialejandro-rp commented on #216
@mCodex it throw the Exception when trying to get the key
https://github.com/mCodex/react-native-sensitive-info/blob/f911a12739366eeda44b2440ae21f7404d0563b4/android/src/main/java/br/com/classapp/RNSensitiveInfo/RNSensitiveInfoModule.java#L336

[2020-07-28 15:43] mCodex commented on #216
Thanks. I guess we could try your idea and see if fixes the problem

[2020-07-28 16:14] mCodex commented on #196
Already merged in [keystoreAsDefault](/github/linguist/tree/feature/keystoreAsDefault). Also, it includes the  new example app, but it is a WIP 😄

[2020-07-28 17:56] mCodex commented on #204
I've tested this scenario in the example project. The error that you mentioned is:

![screencap-2020-07-28T175327 307Z](https://user-images.githubusercontent.com/5920613/88702854-537b5780-d0e2-11ea-8bb0-8508126adde1.png)

However, after dismissing this popup and clicking again on button that triggers setItem works perfectly.

[2020-07-28 18:02] #198 closed

[2020-07-28 18:04] mCodex commented on #198
Done and merged in [feature/keystoreAsDefault](/mcodex/react-native-sensitive-info/tree/feature/keystoreAsDefault)

[2020-07-28 18:06] mCodex commented on #193
Hi,

I've investigated this problem and it occurs because somehow this method was not implemented in iOS. I would recommend you to use `isSensorAvailable` instead.

On next release `isHardwareDetected` will be removed.

[2020-07-28 19:11] #216 closed

[2020-07-28 19:14] mCodex commented on #216
@all-contributors please add @maggialejandro for code and maintenance

[2020-07-28 19:38] mCodex commented on #196
There are a new release available in npm which includes keystore by default. For more information, please read [here](https://github.com/mCodex/react-native-sensitive-info/releases/tag/v6.0.0).

[2020-07-28 19:54] mCodex commented on #216
@maggialejandro-rp I've released your fix in [v6.0.0-alpha.2](https://github.com/mCodex/react-native-sensitive-info/releases/tag/v6.0.0) which keystore by default. 😉

[2020-07-29 09:27] exotexot commented on #194
Has anything happend on this front? I just made another build and I didn't encounter any problems related to
react-native-sensitive-info

[2020-07-29 11:21] mCodex commented on #194
No, I didn't 😅😅😅😅 I was reading about catalyst yesterday, but I haven't done anything yet 😅 I'm working on the [v6.0.0](https://github.com/mCodex/react-native-sensitive-info/releases/tag/v6.0.0)

However, did it work?

[2020-07-29 11:30] exotexot commented on #194
Haha. Okay whatever, I'll take it 👍
I just double checked and I can see my token successfully being stored in the keychain.

I remember recieving errors at least while running the app - possibly also while building in xcode - on catalyst 2 months ago. I had to remove the entire library back then. Now it just works!

[2020-07-29 11:30] #194 closed

[2020-07-29 11:31] exotexot commented on #194
I'm running on 5.5.6 btw.

[2020-07-30 13:21] mCodex opened #222 "MacOS build failing"
RNSInfo is not compiling in MacOS due to this error:

![Screen Shot 2020-07-30 at 10 18 35 AM](https://user-images.githubusercontent.com/5920613/88927723-3c597880-d24e-11ea-9e88-01a87adf28c4.png)

[2020-07-30 14:29] maggialejandro opened #223 "android.security.KeyStoreException: Key user not authenticated"
Scenario:
1. User opens the app and minimize it
2. User removes all fingerprints then register al least one fingerprint
3. App opens from background and does a setItem

<img width="723" alt="Screen Shot 2020-07-29 at 16 22 03" src="https://user-images.githubusercontent.com/3394748/88934574-2b613500-d257-11ea-92e3-3c55484ef9a5.png">

<details>
<summary>Stacktrace</summary>
<pre>
0 = {StackTraceElem

[2020-07-30 14:35] #223 closed

[2020-07-30 14:36] mCodex commented on #204
Fixed in #224

[2020-07-30 14:36] #204 closed

[2020-07-30 14:41] #193 closed

[2020-07-30 22:51] duncan-iaria opened #226 "[Question] Touch ID Required in setItem on Android?"
On version `6.0.0-alpha.4` of this package and using Android, when I setItem it requires me to use `touchID: true` when I want to use touchID to get the item back out - otherwise I get a decryption error.

From the user perspective that means that anytime we `setItem`, it requires them to use their fingerprint to confirm it. So, for example, if a user logs in with their fingerprint (we unlock the

[2020-07-31 13:20] mCodex commented on #226
hey @duncan-iaria could you please provide a snippet from your setItem?

[2020-08-06 12:00] Shailesh351 opened #229 "Use EncryptedSharedPreferences for more security on android"
https://developer.android.com/reference/kotlin/androidx/security/crypto/EncryptedSharedPreferences.html

[2020-08-06 13:03] mCodex commented on #229
@Shailesh351 thanks for this idea. It would be awesome to use KeyStore + EncryptedSharedPreferences 😄

[2020-08-18 12:27] juanapp opened #230 "Lost credentials on Android update"
Hi all,

We are using in one of our apps this library to store the login credentials and what we notice is that on every update, a lot of users have to relogin.
As well, I have the feeling that some of the users are not able to keep the credentials saved.
Is there any known issues on different Android versions where this might happen?

Thanks

[2020-08-18 12:31] juanapp commented on #196
Is there a solution for data migration? I would love to integrate this version but I'm also afraid that it will cause quite some troubles to users that have data saved..

[2020-08-18 13:59] mCodex commented on #196
Unfortunately there is not. Maybe we need an extra method to read from sharedPreferences without using keystore something like `getAllUncryptedDataFromSharedPreferences` and then every users should handle saving all these infos again using `setItem` and now everything will be encrypted in Android.

[2020-08-18 14:01] mCodex commented on #230
From which version have you upgraded?

[2020-08-18 14:03] juanapp commented on #230
@mCodex We currently use version 5.5.5 and we haven't updated. The only thing that we have updated it's our application but the version of Sinfo is the same.

[2020-08-18 14:04] juanapp commented on #196
@mCodex That would be ideal... I think what we need is to have a way to trigger the migration from everything that is stored on SharedPreferences to the KeyStore, keeping the same structure and then deleting it from SharedPreferences. That would save the hassle of the first time run after upgrading.

[2020-08-18 16:20] mCodex commented on #196
Yeah, I couldn't agree more. This is why v6.0 is yet in alpha release. I don't want to developers updating RNInfo and their users losing data. On the other hand, there is a work to do to handle this scenario but no one is taking care of it right now. I'll see if I can code something to speed up this release.

[2020-08-18 16:23] mCodex commented on #230
I see, that is strange. Maybe something to investigate. 🤔

[2020-08-20 17:49] JeffreyLeeDave opened #232 "Android: Error: Fingerprint operation canceled, iOS no response"
1. I keep getting this `Error: Fingerprint operation canceled.`. It happens on the `SInfo.setItem` because I do see `start` getting logged. I kinda just followed what it says on the docs. I can't see why it doesn't work. This only happens on Android.

2. On iOS I see the biometrics prompt, but I get nothing from `SInfo.getItem`

[code]

[2020-08-20 18:57] mCodex commented on #232
@JeffreyLeeDave have you added Android permissions into your AndroidManifest.xml:

[code]

and recompiled your Android project?

[2020-08-20 19:15] JeffreyLeeDave commented on #232
Yea I did. I actually already had this in my `AndroidManifest.xml` before as well. I was originally using the `react-native-touch-id` package and recently making a switch to here. I think I should also mention that this is not an expo project. And yes I have unimodules successfully installed.

[2020-08-20 19:17] mCodex commented on #232
Do you have any fingerprint enrolled in yourt Android emulator? (if you are using emulator) 🤔

[2020-08-20 19:20] JeffreyLeeDave commented on #232
Yea fingerprint is enrolled. I confirmed this because `hasEnrolledFingerprints` and `isSensorAvailable` both return true.

[2020-08-20 19:35] mCodex commented on #232
I was debugging here using the example project inside RNSInfo's repo. Can you please change your setItem function as follows:

[code]

I've just added `showModal: true` and your snippet is currently working 😄

I've also to update docs

[2020-08-20 19:37] JeffreyLeeDave commented on #232
I wanted to add that after doing some more digging around, if I do `getAllItems`, I do see this in the list of stuff stored:

`{service: "myKeychain", key: "key1", value: "secretStuff"}`

I also tried to store it without the keychainService and I added this into the array as well:

`{service: "app", key: "key1", value: "secretStuff"}`

[2020-08-20 19:47] JeffreyLeeDave commented on #232
Ok adding `showModal` on the `setItem` caused the app to crash on me. I am on the latest version btw. Just to be clear, this is what it looks like now:

[code]

[2020-08-20 20:02] mCodex commented on #232
I'm debugging here too. On Android I was able to fix it by adding `showModal: true` as I mentioned above

<img width="327" alt="Screen Shot 2020-08-20 at 4 59 04 PM" src="https://user-images.githubusercontent.com/5920613/90819835-db7e0700-e306-11ea-9d41-e75b3f713bae.png">

Right now, I'm building the example app on iOS to check what it happened.

[2020-08-20 20:08] JeffreyLeeDave commented on #232
Out of curiosity, were you able to fix this on the android emulator by having this in a `useEffect` or did you do the `useCallback` as shown in the example app. Just curious.

[2020-08-20 20:09] mCodex commented on #232
Using the same useEffect you provided

[2020-08-20 20:29] mCodex opened #233 "Undefined when retrieving data saved using FaceID"
When saving data using FaceID returns undefined when you use getItem.

Running the example inside this repository will be able to reproduce this issue. Clicking on "Add item using TouchID" and then trying to retrieve this data clicking on `Get TouchID Data` returns undefined.

<div>
<img src="https://user-images.githubusercontent.com/5920613/90821940-103f8d80-e30a-11ea-93e7-c8b2d94ce74d.png" width

[2020-08-20 20:52] JeffreyLeeDave commented on #232
Ok well it's good to know that at least we are on the same page in regards to the iOS simulator, but I am still having the same issue on Android. Adding the `showModal: true` still causes my app to crash. I tried to strip down as bare as possible. My component now looks like this:

[code]

This renders, but does nothing. If I uncomment `showModal` from the `setItem`. I still get a crash. I even cr

[2020-08-24 21:20] JeffreyLeeDave commented on #232
I would also like to add I tested this on an actual device, Pixel 3XL, today and it still crashes for me

[2020-08-24 22:00] JeffreyLeeDave commented on #232
Update, I am using version `6.0.0-alpha.5` now and on a physical device and I do see the fingerprint prompt on android

[2020-08-29 01:43] sasurau4 commented on #8
I find the issue still exist because `v6.0.0-alpha.5` doesn't contain #168. It's still use `WritableMap` and same for master branch https://github.com/mCodex/react-native-sensitive-info/blob/master/android/src/main/java/dev/mcodex/RNSensitiveInfoModule.java#L241 .
Something wrong happened in release process?

[2020-09-01 20:52] wincod75 opened #234 "setItem is not a function"
Error: TypeError: _reactNativeSensitiveInfo.default.setItem is not a function

`
"react": "16.11.0",
"react-native": "0.62.2",
"react-native-sensitive-info": "^6.0.0-alpha.5",`

[2020-09-01 21:01] wincod75 commented on #234
Downgraded to 5.5.8 and reinstalled pods, works fine now. Should probably not use stuff like this: `npm install react-native-sensitive-info@next` in your docs unless the alpha version has been tested.

[2020-09-01 21:01] #234 closed

[2020-09-02 09:22] exotexot commented on #194
For anyone experiencing this error:
Error: The operation couldn’t be completed. (OSStatus error -34018.)]

see this stackoverflow: https://stackoverflow.com/questions/27752444/ios-keychain-writing-value-results-in-error-code-34018

[2020-09-02 12:13] mCodex commented on #234
First of all, thanks for your report.

I've just created a new project from scratch and tested what you have said and I can confirm that v6's setItem is working on iOS. Plus, there is an example project on master which uses v6 and you can confirm that setItem is also working there.

![Simulator Screen Shot - iPhone 11 - 2020-09-02 at 09 07 45](https://user-images.githubusercontent.com/5920613/9197

[2020-09-02 13:18] wincod75 commented on #234
@mCodex Greetings! I meant no disrespect. Also, I did not test any version between 5.5.8 and 6.0.0-alpha.5, but the alpha version did in fact break my app. I couldn't even log the import. There's always room for error of course, but as mentioned, once I downgraded it worked like a charm.

[2020-09-16 05:53] kgsachinthaudara commented on #196
@mCodex  when are your hope to release v6, we are waiting for great news ❤️

[2020-09-21 10:11] max-zu opened #236 "Data is shared between multiple targets (iOS)."
There are 2 targets in our app. The first one is used as Staging app, the second - as prod.
When 2 apps is being used at the same time on the same device it looks like the data is being shared between applications.

[2020-09-22 13:59] bsigalov opened #237 "Does it support face unlock for Android devices?"
I can't understand if this library supports face unlock on Android devices.
If not, is there any plans to add this feature?

[2020-09-24 14:19] mCodex commented on #237
@bsigalov, unfortunately face unlock on Android is not supported yet.

PRs are always welcome to add this 😄

[2020-10-01 10:57] bsigalov commented on #237
I thought this should solve the problem:
https://github.com/mCodex/react-native-sensitive-info/pull/214

[2020-10-01 13:25] mikewoudenberg commented on #8
The issue still exists in v6.0.0-alpha.6.

[2020-10-05 21:17] atabariscanalp commented on #124
I

I'm still having this issue with 6.0.0-alpha.6

[2020-10-08 21:43] #189 closed

[2020-10-08 21:43] #186 closed

[2020-10-08 21:43] #72 closed

[2020-10-08 21:43] #174 closed

[2020-10-08 21:43] #105 closed

[2020-10-08 21:43] #125 closed

[2020-10-08 21:43] #169 closed

[2020-10-08 21:43] #164 closed

[2020-10-08 21:43] #144 closed

[2020-10-08 21:43] #95 closed

[2020-10-08 21:43] #59 closed

[2020-10-08 21:43] #160 closed

[2020-10-08 21:43] #141 closed

[2020-10-08 21:43] #153 closed

[2020-10-08 21:43] #143 closed

[2020-10-08 21:43] #136 closed

[2020-10-08 21:43] #99 closed

[2020-10-08 21:43] #128 closed

[2020-10-08 21:43] #134 closed

[2020-10-08 21:43] #116 closed

[2020-10-08 21:43] #77 closed

[2020-10-08 21:43] #112 closed

[2020-10-08 22:43] #108 closed

[2020-10-08 22:43] #98 closed

[2020-10-08 22:43] #85 closed

[2020-10-08 22:43] #94 closed

[2020-10-08 22:43] #86 closed

[2020-10-08 22:43] #79 closed

[2020-10-08 22:43] #52 closed

[2020-10-08 22:43] #78 closed

[2020-10-08 22:43] #67 closed

[2020-10-08 22:43] #61 closed

[2020-10-08 22:43] #28 closed

[2020-10-08 22:43] #30 closed

[2020-10-08 22:43] #44 closed

[2020-10-27 09:41] AahilShahzad opened #241 "android fingerprint native model is not showing"
I'm using there versions ->

 "react": "16.13.1",
 "react-native": "0.63.3",
"react-native-sensitive-info": "^6.0.0-alpha.6",

let secureKeys = await SInfo.getItem('test', {
        sharedPreferencesName: 'mySharedPrefs',
        keychainService: 'myKeychain',
        touchID: true,
        showModal: true, //required (Android) - Will prompt user's fingerprint on Android
        strings: { // opti

[2020-11-12 10:41] idanlevi1 commented on #196
Can you write the changes between alpha versions?
and the alpha version is stable to use in production new?

[2020-11-12 12:08] Rafatcb commented on #124
You can create a mock for it. I created a simple one that satisfies my needs without needing to mock every function. Got some inspiration in [@react-native-async-storage/async-storage mock](https://github.com/react-native-async-storage/async-storage/blob/master/jest/async-storage-mock.js).

\_\_mocks\_\_/react-native-sensitive-info.js:

[code]

And when I need to mock a specific result in a test:

[2020-11-14 11:40] #207 closed

[2020-11-15 22:35] hapablap21 commented on #8
It looks like #214 stepped on this fix from #168
Is there a reason that this was regressed?

[2020-11-16 12:02] mCodex commented on #8
Hi guys 👋

Thanks for the report. There were no reason regressing this issue. In fact, it may have happend when I merged the keystore branch within the master branch, because the keystore branch had many differences in android's files and this fix wasn't included there.

So, we should only open a new PR for that using the master branch again. I may have do this later, however feel free doing that.

[2020-11-19 21:27] JeffreyLeeDave commented on #233
Hi just want to bump this as this issue still occurs

[2020-11-21 11:44] #159 closed

[2020-11-22 08:06] idolago94 opened #244 "IOS fingerprint or face id changed"
There is option to don't save the secure data if the fingerprint or face id changed on IOS ?
(like it work on android)

[2020-11-23 12:04] #226 closed

[2020-11-23 12:16] eyaydin commented on #244
yep i need this type of functionality as well.

[2020-11-27 15:11] exotexot opened #245 "User interaction is not allowed pt2"
Having the same issue as described here: https://github.com/mCodex/react-native-sensitive-info/issues/144
 but still experiencing this issue on my Catalyst app when device is asleep and or the app is left in the background for some time.

Running react-native-sensitive-info@6.0.0-alpha.8

System:
    OS: macOS 10.15.7
    CPU: (16) x64 Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz
    Memory: 173.13 M

[2020-12-02 19:39] cjroth opened #247 "6.0.0-alpha.8 - Android - Module AppRegistry is not a registered callable module"
I'm on React Native 0.63.3.

Making any call to SInfo (eg `await SInfo.getAllItems`) throws this error and freezes my app. It seems like the Android library isn't being linked correctly.

It works correctly on iOS. I've tried clearing cache, rebuilding, reinstalling, etc.

The docs say to use v6 because v5 is no longer maintained, but I think people should probably still use v5 until these issues

[2020-12-02 19:44] #247 closed

[2020-12-08 07:47] AahilShahzad commented on #241
anyone can help please

[2020-12-14 19:01] jllopiz90 commented on #234
Hi @mCodex, thanks for the effort put in this library, I'm trying to store something in the device in a secure way so I tried with this package but I'm getting this error as well, using version `6.0.0-alpha.8`. Since for you is working in the example app, can you perhaps give me a direction what may be wrong in my end? Perhaps is related to the linking, although I already ran pod install and verif

[2020-12-16 15:19] YOzaz opened #250 "Post Android 11 fix to v5 branch"
Related to this commit: https://github.com/mCodex/react-native-sensitive-info/commit/89dab8495821fb8d0a6169639fb068d81283c4a4

While v6 is in alpha stage, can you please port this (and others if necessary) to v5 version / branch please?

Related PR: https://github.com/mCodex/react-native-sensitive-info/pull/251

[2020-12-16 17:50] mCodex commented on #250
Hi!

Of course! Done! Closing this issue for now :)

[2020-12-16 17:50] #250 closed

[2020-12-22 23:52] #232 closed

[2021-01-03 09:16] idolago94 opened #253 "android delete one fingerprint"
There is an option to don't save the secure data if I delete one fingerprint(still has other fingerprint on the system)  on Android ?
For now it's work only when I add new fingerprint.

[2021-01-03 09:39] idolago94 opened #254 "android popup strings not working"
I am trying to set the 'notRecognized' label on andorid like that:
        RNSInfo.getItem(type, {
            kSecUseOperationPrompt: 'my_app',
            strings: {
                header: 'HHHH',
                description: 'DDDD',
                cancel: 'CCCC',
                hint: 'TTTT',
                success: 'SSSS',
                notRecognized: 'FFFF',
            }
        })

Act

[2021-01-12 14:24] denissb opened #257 "Android: getItem throws `null` Error when setInvalidatedByBiometricEnrollment is used"
When the user changes his biometrics on Android an error is thrown in case `SInfo.setInvalidatedByBiometricEnrollment(false);` is invoked on app startup to invalidate the credentials.

But when accessing the previously stored data with `getItem` you receive an Error with a value of `null`, which is not a very descriptive exception.

I think a custom Exception should be thrown when this kind of err

[2021-01-19 10:55] #236 closed

[2021-01-19 12:48] exotexot commented on #245
The issue was related to this stack overflow: https://stackoverflow.com/questions/9723949/ios-sfhfkeychainutils-failing-sometimes-with-error-25308-errsecinteractionnot

I could solve it by using a poper kSecAttrAccessible attribute.

await SInfo.setItem(key, String(value), {
  keychainService: "app",
  **kSecAttrAccessible: "kSecAttrAccessibleAfterFirstUnlock",**
  sharedPreferencesName: "myShared

[2021-01-19 12:49] #245 closed

[2021-01-20 03:37] freedomzzzii opened #261 "getItem on android after delete app data is lost"
I use setItem to storage value on device and delete app after delete app i reinstall this app and use getItem to get data from storage but data is lost on Android but IOS is work. anyone can help, i don't kwon what's wrong on my code. Thanks.

package version
"react-native-sensitive-info": "^6.0.0-alpha.9",
"react": "16.13.1",
"react-native": "0.63.4",

my code

import SInfo from 'react-native-sen

[2021-01-25 19:54] mCodex commented on #261
@freedomzzzii hello, maybe is because Android stores data on app's cache and when you delete it Android clears every user data/cache from that app. On the other hand, iOS stores it into keychain which is saved separated from the app data.

[2021-01-27 13:51] navin-d97 commented on #71
I am also facing the same issue in latest version, 5.5.8. any updates?

[2021-02-04 19:49] zbisj opened #262 "[TypeError: undefined is not a function (near '..._reactNativeSensitiveInfo.default.setItem...')]"
Hi I am trying to store some data onto a device using a redux-thunk like this:

[code]
However, I am getting this error.

`[TypeError: undefined is not a function (near '..._reactNativeSensitiveInfo.default.setItem...')]`

Also the console.log returns an empty object `Object {}`

[2021-02-05 11:53] Marvedog commented on #196
Do you need any help with this?

[2021-02-10 21:58] artola opened #263 "Mismatch touchID"
In documentation "Recipes - Fingerprint Protection #Saving" say `touchId` (see [link](https://mcodex.dev/react-native-sensitive-info/docs/protectingWithFingerprint#saving)) while in same document under "#Getting" or in examples and typings correctly shows `touchID`.

[2021-02-10 22:42] artola opened #264 "setItem triggers Fingerprint on Android"
The following code (from the docs) triggers the fingerprint auth in Android while in iOs does not triggers (correctly) the Face ID.

I did expect a validation to retrieve the data, but not to store it for first time. Is it right? what is the expectation?

[code]

[2021-02-11 15:46] artola opened #265 "make options not required"
Passing `options` in all the methods should be optional, nowadays it is required to pass an empty object.
At present the keys are optional, while probably they have a fallback value in the implementation (e.g., `app` for `keychainService`).

Same for `master` than `keystore` branch.

[code]
[code]
[code]

See: https://github.com/mCodex/react-native-sensitive-info/blob/1575f8992ff7113443199bce5a3fb

[2021-02-14 18:28] artola commented on #264
@mCodex This issue was reported before: https://github.com/mCodex/react-native-sensitive-info/issues/226

Nevertheless, while on iOs everything runs smooth, Android user experience is not that good (like require 2 times the fingerprint because of 1 get and a successive set).
Playing with the options (adding them in get or set) produces very different effects depending in the platform.
For example,

[2021-02-18 18:17] warrioru commented on #264
@artola it would be great if we could save into the keystore without having to use the fingerprint. Then the problem of seeing the fingerprint modal two times would be solved.

Thanks for your work!

[2021-02-18 20:46] TheMatrixMaster opened #266 "SetItem prompts user for face ID"
Hello,

when I use setItem with the following configuration on IOS, I am prompted to authenticate with Face ID.
[code]

The expected behaviour is no prompts when using setItem and prompts when using getItem.

[2021-02-20 18:02] harrysayers opened #267 "Is there anyway to get information from keychain without Authentication?"
Hello,

I was wondering if there was anyway to get info from Keychain ( SInfo.getItem() ) without having to use Authentication (Face ID or Touch ID) ? Face ID seems to be called on .getItem automatically.

Thanks for building and supporting such a great library :)

Any help is appreciated :)

[2021-02-21 12:32] artola commented on #264
@mCodex If the library is somehow upgraded for Api level 30 supporting `setUserAuthenticationParameters` it would allow us to pass the timeout and auth type required, with a timeout of several seconds will allow to set/get without invoking again and again the auth.

https://developer.android.com/reference/android/security/keystore/KeyGenParameterSpec.Builder#setUserAuthenticationParameters(int,%20

[2021-02-28 13:46] mCodex commented on #265
@artola thanks for your suggestion

[2021-02-28 13:48] mCodex commented on #264
Thanks for pointing this out. I totally agree with you thinking about UX is not good.

I'd like to fix this, because I'm very concerned about UX stuff.

[2021-02-28 13:52] mCodex commented on #196
Hi Marcus, of course! Being honest I still haven't looked into this yet.

PRs are always welcome.

[2021-03-01 07:49] Marvedog commented on #196
@mCodex I'll take a look then

[2021-03-23 17:16] #192 closed

[2021-03-25 16:54] gbmsimoes opened #270 "iOS - setItem with kSecUseOperationPrompt now working as expected?"
When I set `kSecUseOperationPrompt` on `getItem` it behaves as expected but on `setItem` I'm not being able to set a custom message.

I'm trying like below.

[code]

Thank you!

[2021-03-30 17:37] aarondail commented on #196
In lieu of some kinda wholesale migration to deal with old unencrypted values in shared preferences, we have cooked up something super simple for our app: when we call `getItem()` we wrap it in a `try/catch` and (if it fails) then call `getItem()` again with a `{ dontDecrypt: true }` option we patched into the library.

The patch is just a one line change to `RNSensitiveInfoModule`'s `getItem()` m

[2021-04-01 09:24] totalism53 opened #272 "iOS: Is there a way to delete data from keychainService after delete the app?"
I wanna know that, is there a way to delete data from Keychain after app deleted like android?

[2021-04-01 10:54] grit96 commented on #272
See https://github.com/mCodex/react-native-sensitive-info/issues/125

[2021-04-02 08:28] jmalStorm commented on #8
I am still having this issue. Wasn't this fixed?

[2021-04-10 10:58] isorri480 opened #276 "android.os.DeadObjectException on Huawei P8 Lite Android 6.0"
When I use the library on a Huawei P8 Lite Android 6.0, devices is rebooted.
The last error that I see on  LogCat before reboot is.

W/KeyStore: Cannot connect to keystore
    android.os.DeadObjectException
        at android.os.BinderProxy.transactNative(Native Method)
        at android.os.BinderProxy.transact(Binder.java:505)
        at android.security.IKeystoreService$Stub$Proxy.update(IKeyst

[2021-04-13 03:34] hklee93 opened #277 "Question about overwriting"
Hi, thanks for the great package. I just have a quick question.

Assuming there are two apps, A and B. If they both use the same `sharedPreferencesName` when they call `.setItem()`, would it be possible to overwrite the data each other?

[2021-04-14 18:03] ivorysunder opened #278 "Android Passcode"
Hello. Is there any way to enable android passcode as fallback to fingerprints auth?
As i see there's options for IOS devices (haven't tested it yet on ios) but not for android ones.

[2021-04-14 18:13] emclab opened #279 "6.0.0.alpha.9: rebuild error in android studio"
My RN 0.64 app upgrades the module to 6.0.0.alpha.9 and it throws error when rebuild in android studio (4.1.13). Here is the error:

      C:\D\code\js\xyz_app4\node_modules\react-native-sensitive-info\android\src\main\java\dev\mcodex\RNSensitiveInfoModule.java:385: error: cannot find symbol
        if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.N) {

[2021-04-14 20:35] emclab commented on #279
After increase the android sdk version and min sdk targeted, the error disappeared.

[2021-04-14 21:32] emclab commented on #279
![Capture](https://user-images.githubusercontent.com/946013/114781916-2f25e080-9d2e-11eb-8c6f-c59a75474266.JPG)

[2021-04-15 19:12] #279 closed

[2021-04-22 09:44] dsim1463 opened #283 "iOS - getItem when device locked"
Hi - Thank you for the library.
We have a requirement where we need to fetch item from keychain when device locked w/o user interaction. Tried passing -
await SInfo.getItem('itemName', {
          sharedPreferencesName: 'mySharedPrefs',
          keychainService: 'myKeychain',
          kSecAttrAccessible: 'kSecAttrAccessibleAfterFirstUnlock',
        }).then((value) => {
          if (value) {

[2021-04-22 11:04] kneza23 commented on #196
Hi guys. Any news or estimates on this?

[2021-05-03 09:32] climsaroj opened #284 "Question: Is there a way to retrieved data in getItem but use it multiple times?"
I'd like to getItem from react-native-sensitive-info by using
const getData = await SInfo.getItem('key', {
    sharedPreferencesName: 'SharedPrefs',
    keychainService: 'Keychain',
    touchID: true,
    showModal: true, //required (Android) - Will prompt user's fingerprint on Android
    strings: {
      // optional (Android) - You can personalize your prompt
      description: 'Unlock your priv

[2021-05-03 22:11] #253 closed

[2021-05-03 22:11] #254 closed

[2021-05-04 05:40] kam89 commented on #196
Hi, is it possible to include fail attempt for each biometric authentication for both Android and iOS?

[2021-05-12 18:43] fedeerbes commented on #264
hi @mCodex and @artola do you have any plans of working on this?

[2021-05-12 20:27] fedeerbes commented on #196
Hi, is it possible to include #264 as well? That will greatly improve the user experience.

[2021-05-13 02:53] #257 closed

[2021-05-18 08:52] tero-paananen commented on #196
I am using  `"react-native-sensitive-info": "^6.0.0-alpha.9`" on React Native Windows `0.64.7`. I think that module autolinking does not work, it is not done after calling `npx react-native autolink-windows`. There is no any changes into `AutolinkedNativeModules.g.cs`

[2021-05-18 09:10] tero-paananen commented on #196
Manual linking seems to work in App.xaml.cs `PackageProviders.Add(new RNSensitiveInfoCPP.ReactPackageProvider());`

[2021-05-24 15:03] ajcrites opened #291 "v6 does not allow for named imports with TypeScript Change"
In v5, you could do things like `import { getItem } from 'react-native-sensitive-info'` which was doing `module.exports`.

The change to `export default` no longer allows you do this, and you have to `import SInfo ...`.

This can be fixed by using `export =` instead of `export default` or otherwise changing everything over to named exports. For now, my preference would just be to use `export =`.

[2021-05-28 07:07] #261 closed

[2021-06-02 13:07] ShogoSaito0607 commented on #283
@dsim1463
Hi, I faced with the same problem.
At first, `getItem` method in RNSensitiveInfo.m check the following value:  `UIApplication.sharedApplication.protectedDataAvailable`.
But this value always returns false when iPhone is locked.
So, we can never get value from Keychain in this case.

Next, in the first place, `getItem` method doesn't add `kSecAttrAccessible` option to query for getItemWit

[2021-06-04 22:27] #262 closed

[2021-06-08 16:12] Loxrie commented on #266
I have the opposite issue with the same code, and I want prompts for both. :/  Did you manage to get anywhere with this?  I note a common issue with this project is issues are left to go stale and then get auto closed with no resolution.

[2021-06-10 01:42] TheMatrixMaster commented on #266
@Loxrie, unfortunately that seems to be the case. Instead of dwelling on this issue, I switched to a different package (react-native-keychain) that did the job for me.

[2021-06-10 11:46] Loxrie commented on #266
I've just done the same, I have react-native-keychain in an older project alongside a separate library for biometric auth.  It seems react-native-keychain appears to now support both, so I'm giving it a whirl today.

[2021-06-10 16:55] grit96 commented on #283
@ShogoSaito0607 I managed to fix it for me using the following patch with `patch-package`. I can submit a PR but I don't know if removing the `UIApplication.sharedApplication.protectedDataAvailable` check is the right solution.

[code]

[2021-06-21 04:30] #267 closed

[2021-06-23 08:25] grit96 opened #300 "Decryption failing on certain Android devices"
Calling `getItem` fails with a `javax.crypto.AEADBadTagException` error on certain Android devices.

It happens for me on my Huawei P30 with Android 9, but doesn't happen on my Pixel 4 with Android 11, Samsung S10 with Android 11, Samsung S20 with Android 10, Samsung S9 with Android 9.

This appears to be related to some devices failing to decrypt when the message is too large (https://androidforu

[2021-06-27 15:12] #283 closed

[2021-06-27 15:21] #300 closed

[2021-06-29 15:38] gabrielyoto opened #302 "SetItem never resolves in Samsung A72 device"
First of all, this is my workspace:
[code]

I tried the same sample in ASUS Zenfone 3 Max (Android 8) and it worked just fine, but when I try it in Samsung A72 device, the SetItem function never resolves.

[code]
OUTPUT:
[code]

it does not throw errors, neither resolves :(
Android native modal also does not show.

[2021-06-30 09:05] jeevithaBA opened #303 "how can i clear all data when ios app is uninstalled in redux-persist-sensitive-storage"
I am using redux-persist-sensitive-storage. When I uninstall an app and then reinstall it, my old data still exists. How can I clear all data when uninstalling an ios app?

[2021-07-02 06:27] crzycoder opened #304 "hasItem is not a function"
This feature is not available in `react-native-sensitive-info: ^6.0.0-alpha.9` how to use this because they provide this in their example project.
`      const hasItem = await SInfo.hasItem('touchIdItem', {
        sharedPreferencesName: 'exampleApp',
        keychainService: 'exampleApp',
        kSecAccessControl: 'kSecAccessControlBiometryAny', // Enabling FaceID
        touchID: true,

[2021-07-15 18:02] ronyn opened #305 "Error when tring to getItem on Android: "DecryptionFailed""
For some reason, when trying to use getItem method (using touch id), I keep getting an error on Android: "DecryptionFailed"
both showModal and touchID was set to "true" but no modal has opened
on IOS it works fine.

[code]

[code]

Can someone help with this issue?

[2021-07-17 10:13] MaxChenMC commented on #196
Hi. May I know whether 6.0.0 supports Face Recognition for Android?

[2021-07-23 21:48] #270 closed

[2021-07-30 19:08] #272 closed

[2021-08-06 18:33] mmathewsTableau opened #308 "[Android] Fixed initialization vector for encryption"
When encrypting the payload for android, the same fixed initialization vector is used every time. This is actually a vulnerability, you should generate a random 96 bit initialization vector unique to every payload.

Fixed IV code:
https://github.com/mCodex/react-native-sensitive-info/blob/master/android/src/main/java/dev/mcodex/RNSensitiveInfoModule.java#L77

Details:

[2021-08-10 15:10] #276 closed

[2021-08-11 13:31] ronyn commented on #305
For anyone having the same problem,
The problem was in the API documentation:

**touchID param should be written as** `touchID` instead of `touchId`.

@mCodex  Can you please change it in docs:
<img width="856" alt="image" src="https://user-images.githubusercontent.com/3366334/129037820-5b974876-27d1-4a60-9d95-b9ce52ca2eed.png">

[2021-08-12 23:52] JeffreyLeeDave commented on #196
I would like to propose a delete all function

[2021-08-13 23:27] #278 closed

[2021-08-19 23:45] ingvardm commented on #8
const RNSIResponseNormal: SensitiveInfoEntry[] | [SensitiveInfoEntry[]] = APP_FLAGS.isIOS
			? RNSIResponse[0]
			: RNSIResponse

[2021-08-20 09:43] ingvardm commented on #124
Blind code so take it for what it is...
[code]

[2021-08-23 12:25] thecodecafe commented on #302
I'm also experiencing this on Samsung Galaxy M11. @gabrielyoto, have you been able to find a solution?

[2021-08-23 13:17] gabrielyoto commented on #302
@thecodecafe not yet, every time I try to use it in this device, I'm having this issue

[2021-08-31 22:23] #284 closed

[2021-09-04 18:35] stefblokdijk commented on #303
+1

[2021-09-07 03:42] emclab opened #312 "MacOS/Android: Error: Failed to obtain information about key"
The React Native (0.64) app is running with react-native-sensitive-info "^6.0.0-alpha.9". The module works fine on Windows/Android studio. However after moving to MacOS/Android studio, the secure save and secure get throw same error:

`Error: Failed to obtain information about key`

Here is snippet of code for secure save :

[code]

There is a IOS emulator running on the same Mac. What's missing h

[2021-09-15 23:46] #266 closed

[2021-09-21 17:46] #291 closed

[2021-10-11 22:50] imsam67 opened #317 "Not working in Expo app"
I'm trying to use `react-native-sensitive-info` in an Expo app (SDK 42) and I keep getting the following error.

Here's how I'm trying to use it. This is a simple function I created in a util file. Interestingly, I actually used this exact code before in a React Native project that was created through the CLI and it worked fine.
[code]

Is `react-native-sensitive-info` not compatible with Expo or

[2021-10-13 08:04] juhasuni opened #318 "Occasional "PasswordVault The system cannot find the path specified." error when storing data"
The Windows implementation gives occasional errors with full error description of:

The error "The system cannot find the path specified" indicates that the PasswordVault file might be somehow missing or alternatively it is locked by another operation.

Both c++ and c# implementations initialize a new PasswordVault instance upon reading or writing data. My theory is, that upon writing data the Pas

[2021-10-20 20:21] owenadley commented on #241
@AahilShahzad did you figure this out?

[2021-10-26 10:32] Zykhatslover opened #323 ""The user name or passphrase you entered is not correct" on passcode fallback (iOS)"
Every time I try to login with the fallback passcode on iOS (tried on both 15+ and 14.x versions of iOS), I get prompted with an error "The user name or passphrase you entered is not correct", while the passcode is correct.

I'm using the `6.0.0-alpha.9` version of the package, and I tried with the example provided in the package, so it looks like `errSecAuthFailed` is returned whenever I input th

[2021-10-30 11:01] #304 closed

[2021-11-01 14:39] xhirazi commented on #303
+1

[2021-11-04 16:11] Melber17 commented on #45
After uninstall and install app stored information remained.

[2021-11-04 19:48] Melber17 opened #324 "After uninstall and install app stored information remained (IOS)"
I'm using the 6.0.0-alpha.9 version of the package

[2021-11-09 09:56] tero-paananen commented on #318
It seems that we have solution for that issue.

We create one instance of `const Windows::Security::Credentials::PasswordVault PasswordVault = Windows::Security::Credentials::PasswordVault();` PasswordVault object and use that same instance on all methods.

We will send PR later for this.

[2021-11-18 11:13] Miyagee opened #326 "[IOS] Protected data not available yet. Retry operation"
We started to get a lot of `Protected data not available yet. Retry operation` from our ios users.

It is happening for ios users above 14.6 while the majority of the problems come from ios 15.x. Does anyone know what could be causing the problem? We're on `6.0.0-alpha.9`

[2021-11-23 16:00] BogdanRad commented on #326
I have the same problem.. did you find a solution @Miyagee?

[2021-11-24 13:45] Miyagee commented on #326
Not really, we reduced our number of concurrent async operations which reduced the occurrences. But they still occur.

[2021-11-28 10:44] mudassiriqball commented on #230
@mCodex I am also facing this issue. It's not saving data with android version 8. Giving this error: "Error storing data [Error: Failed to obtain information about key]"

[2021-12-01 22:17] emclab opened #327 "Android: Error in secure save : [Error: Failed to obtain information about key]"
Here is the code in my React Native 0.66.3 app to secureSave with react-native-sensitive-info v6.0.0.alpha.9:

[code]

The code above today started to throw the error `Error: Failed to obtain information about key]`:
[code]

It is on Android simulator running on macOS Big Sur. The Android Studio is 2020.3.1. The code has been running pretty stable until now. What causes the error?

[2021-12-06 05:08] #308 closed

[2021-12-10 00:20] #305 closed

[2021-12-15 18:24] akimabs commented on #303
+1

[2021-12-17 15:07] gabimoncha opened #329 "Storage size"
Hello!

Does anyone know what's the value size limit for a stored item?

I'm looking to switch away from [expo-secure-storage](https://docs.expo.dev/versions/latest/sdk/securestore#:~:text=Size%20limit%20for%20a%20value,store%20larger%20values%20may%20fail.) because of it's 2048 bytes size limit per stored value

[2021-12-20 06:46] crzycoder commented on #303
I'm using `redux-persist-sensitive-storage` for persist the user data but after uninstall the App on `IOS` it did not clear the data and reinstall it again it show that user is logged in.

[2021-12-20 06:47] crzycoder commented on #324
any improvement ??

[2021-12-20 13:08] crzycoder commented on #324
try this code in `AppDelegate.m` `didFinishLaunchingWithOptions`

`  if ([[NSUserDefaults standardUserDefaults] boolForKey:@"HAS_RUN_BEFORE"] == NO) {`
    `[[NSUserDefaults standardUserDefaults] setBool:YES forKey:@"HAS_RUN_BEFORE"];`
    `NSArray *secItemClasses = [NSArray arrayWithObjects:`
    `                           (__bridge id)kSecClassGenericPassword,`
    `                           (

[2021-12-20 15:53] Melber17 commented on #324
It's working!
Thank you!

[2021-12-20 16:59] #324 closed

[2021-12-21 10:54] crzycoder commented on #266
prompt dialog is not showing when setItem to `Face ID` on IOS.
any progress

[2021-12-21 20:52] #302 closed

[2021-12-22 09:17] Ganesh-softsuave commented on #323
Still facing the issue

[2021-12-22 09:27] Zykhatslover commented on #323
Same here, but we decided to go for another library since this one is not meeting our requirements.  I'd advise you to do the same.

[2021-12-22 09:30] Ganesh-softsuave commented on #323
Which library you are going to use ?

[2021-12-22 09:38] Zykhatslover commented on #323
We went for https://github.com/oblador/react-native-keychain :-)

[2021-12-22 09:38] Ganesh-softsuave commented on #323
Even this package is facing this issue.There they have mentioned its due to IOS 15 https://github.com/oblador/react-native-keychain/issues/509

[2021-12-29 10:25] ShivamJoker commented on #196
Is macOS support added ?

[2022-01-06 01:33] #312 closed

[2022-01-17 10:49] lincdh opened #331 "is ios Keychain sandboxed?"
I am trying to retrieve data from app extension(app loads on extension popup window) which return nulls while on main app(open directly from tapping the main app icon) the data exists?

[2022-01-21 04:13] mysport12 commented on #303
If you are using this with redux-persist-sensitive-storage and redux-persist what you can do is use the { manualPersist: true } config option from redux-persist.

`export const loadStore = async (setStoreReady: (boolean) => void) => {
  let persist = true
  try {
    let newInstallCheck: ?string = await AsyncStorage.getItem(storeVersion)
    if (newInstallCheck == null) {
      persist = false

[2022-01-21 04:16] mysport12 commented on #303
Not sure if that is your particular use case but one way of clearing out persisted redux state

[2022-02-08 17:42] gabrielmoncea commented on #329
@mCodex is this project still maintained?

[2022-02-09 14:06] lukaszKowal-datasite commented on #302
This still seems to be an issue

[2022-02-11 18:10] #317 closed

[2022-02-15 16:01] gabimoncha opened #336 "Adding `kSecAttrSynchronizable` options throws error."
Adding the option to sync with iCloud throws error: `One or more parameters passed to a function where not valid.`

[2022-02-15 16:33] gabrielmoncea commented on #323
happening to me too

[2022-02-16 07:35] crzycoder commented on #303
I found the solution and it worked .. You just have to add the following code in you `AppDelegate.m` `didFinishLunchingWithOptions` function.

`  if ([[NSUserDefaults standardUserDefaults] boolForKey:@"HAS_RUN_BEFORE"] == NO) {
    // Set the appropriate value so we don't clear next time the app is launched
    [[NSUserDefaults standardUserDefaults] setBool:YES forKey:@"HAS_RUN_BEFORE"];
    NSArr

[2022-02-16 10:50] salockhart commented on #302
This appears to be resolved if I backport https://github.com/mCodex/react-native-sensitive-info/pull/238 to `5.5.8`

I see that it was pulled into the `v5.x` branch: https://github.com/mCodex/react-native-sensitive-info/commit/16512f69ee8bc83f55113b9fe0d4d3f65e8b216e but might not have been released.

I can maintain a patch on my side, but @mCodex would it be possible to get a patch release out fo

[2022-02-28 18:12] gabrielmoncea commented on #263
@artola correct property is `touchID`

[2022-02-28 18:25] artola commented on #263
Right, as stated above `typings correctly shows touchID.`, just docs must be fixed to reflect in the recipes: https://mcodex.dev/react-native-sensitive-info/docs/protectingWithFingerprint/#saving

[2022-03-08 07:40] rubytes commented on #326
I've suddently started getting this error too, even though I have not updated my codebase

[2022-03-10 17:33] spsaucier commented on #237
Is Face Unlock still unsupported??

[2022-03-10 21:33] #318 closed

[2022-03-25 14:45] namdao commented on #230
hi @mCodex , I have using version 5.5.8 and a lot of user have to relogin, I was debug on some device which is relogin then token have response null (on iOS). But I can't reproduce when develop.

[2022-04-01 17:10] davux commented on #196
Are there any news on the data migration part?

Version 6.x is documented as stable but it looks like it's actually still considered alpha because of the data migration. So I think many projects are stuck with 5.x until there is either a silent migration or at least some workaround to ensure no data is lost.

[2022-04-03 21:45] #327 closed

[2022-04-05 18:50] douglasjunior commented on #232
Hello guys, this library still maintained?

[2022-04-11 21:39] davux opened #343 "Remember fingerprint for X minutes"
Hello,

It would be useful to be able to do fingerprint-protected operations but with some optional caching, so that repetitive gets/sets don't keep asking for fingerprint authentication insistently.

Of course, the caching logic can be implemented externally by keeping the result in memory and maintaining a timestamp, but that's inconvenient and also can't be applied to write operations (setItem,

[2022-04-21 13:37] nidheeshsundar07 opened #344 "Static Values for Cryptography Which Exposes Data to Easy Decryption"
The package is using static values as seeds for encryption. This means that any attacker who sees those static seeds will be able to easily decrypt that data. If the data being encrypted is sensitive information, the attacker will be able to see and exploit the information.

![ios vulnerability](https://user-images.githubusercontent.com/104141068/164469855-6ef83196-0ad8-42f5-9125-7d13e146aa0c.png)

[2022-05-19 06:02] rubytes commented on #326
I'm also still getting this error. Any updates yes?

[2022-05-31 02:55] #331 closed

[2022-06-10 19:29] #329 closed

[2022-06-19 01:36] #303 closed

[2022-06-19 01:36] #336 closed

[2022-06-19 01:36] #323 closed

[2022-06-27 13:05] sofia-bahamonde commented on #326
I'm also getting this error. Any updates?

[2022-07-05 07:22] losh11 commented on #344
Can you link to a line in the repo where you see this hardcoded? Cause I don’t see anything like this?

[2022-07-06 05:30] m-ueta commented on #8
The issue still exists in v6.0.0-alpha.9.

For now, I decided not to use getAllItems.

[2022-07-07 00:22] losh11 opened #355 "v6.0.0-alpha10: update latest alpha build on npm?"
Can you make a new tag & publish files to npm from the HEAD 495dd7f08c077f5744e56803e45f54787df3dab3 commit please?

[2022-07-22 09:25] mikeschoneveld commented on #196
Any update on the issue? The data migration is a very important part for us because we don't want all our users to login again.

[2022-08-04 18:08] matiassimone-lemon commented on #8
Hey! its a simple hotFix,
but you can use the follow workaround to solve this problem :

[code]

This function return a simple Array of Secure Items:
`[ { key: "",  value: "" }, { key: "",  value: "" } ]`

@m-ueta @randycoulman

[2022-08-04 18:09] Matiassimone commented on #8
Hey! its a simple hotFix,
but you can use the follow workaround to solve this problem :

[code]

This function return a simple Array of Secure Items:
`[ { key: "",  value: "" }, { key: "",  value: "" } ]`

@m-ueta @randycoulman

[2022-08-04 18:13] Matiassimone opened #356 "Simple solution to the inconsistent return of getAllItems()"
Hey!,
I saw that several people have problems with the `getAllItems()` function,
for that reason I want to share this simple workaround
with the aim of helping everyone to use that function.

[code]

This function return a simple Array of Secure Items:
`[ { key: "",  value: "" }, { key: "",  value: "" } ]`

[2022-08-08 20:18] exotexot opened #357 "doesn't work on react-native 0.70rc2 / Mac catalyst"
setItem method fails with
"[Error: The operation couldn’t be completed. (OSStatus error -34018.)]"

building for macOS catalyst,
Xcode 13,
"react-native-sensitive-info": "^6.0.0-alpha.9",
  "react": "18.1.0",
    "react-native": "0.70.0-rc.2",

[2022-08-08 22:36] exotexot commented on #357
Ah sorry. Zebs answer helped me out here.
https://stackoverflow.com/questions/27752444/ios-keychain-writing-value-results-in-error-code-34018

[2022-08-08 22:36] #357 closed

[2022-09-20 18:28] #343 closed

[2022-10-27 12:34] mr-africa opened #363 "Security issues"
Helo!

My company bought a security audit subscription to scan our mobile app. It found 3 problems in `react-native-sensitive-info` library. Probably it false-positive, but could you check it please.

I Use 5.5.8 version

### Use of Potentially Dangerous Function

**Description**: Applications that use the FingerprintManager API to authenticate can be vulnerable to an authentication bypass attack,

[2022-11-12 03:22] #326 closed

[2022-11-12 03:22] #344 closed

[2022-11-12 03:22] #355 closed

[2022-11-20 15:40] AlkanV commented on #363
hello, any news on this?

[2022-11-23 07:19] jganczorz-revolve commented on #241
As far as I can tell, you need to set `touchId: true, showModal: true` with `setItem` as well.

[2022-11-25 09:50] CostachescuCristinel opened #364 "Android: Attempt to invoke interface method on a null object reference (patch-package fix available)"
There is an issue when using this library on Android, where the method `private String sharedPreferences(ReadableMap options)` might receive a `null` object for `options`. Thus, calling `options.hasKey()` on it will throw the following error:

`Attempt to invoke interface method 'boolean com.facebook.react.bridge.ReadableMap. hasKey(java.lang.String)' on a null object reference
`

This happens if